/*----------------- Velti ------------------*/

*{
	-webkit-text-size-adjust: none;
}

body{
	padding:0;
	color: #999;
	font-family: Arial,Helvetica,sans-serif;
	font: normal 14px;
	margin: 0;
	-webkit-backface-visibility:none; 
	/*-webkit-perspective:1000; This is needed for ipad text*/
	}
	




/* ----------- Start of Page Controller-Transitions ---------*/
.pageController {
	position: relative;
	width: 100%;
	overflow:hidden;
}

.pageController .page {
	position: absolute;
	top: 0;
	z-index: -10;
	width: 100%;
	display: none;
	background:white;
}


.pageController .page.active {
	position: relative;
	z-index: 0;
	display: block;
}




.slidein, .slideout, .sliderevin, .sliderevout
			{
			-webkit-backface-visibility: none;
			-webkit-animation-fill-mode: forwards;
			-webkit-animation-duration: .3s;
			
}
			
			@-webkit-KEYFRAMES slidein
			{
			from { left: 100%; z-index: 0;}
			to   { left:0;-webkit-transition: left .3s ease-in;  z-index: 0;}
			}
			@-webkit-KEYFRAMES slideout
			{
			from { left: 0; z-index: 0;}
			to   { left: -100%; -webkit-transition: left .3s ease-in; z-index: 0;}
			}
			
			@-webkit-KEYFRAMES sliderevin
			{
			from { left: -100%; z-index: 0;}
			to   { left:0;-webkit-transition: left .3s ease-in;  z-index: 0;}
			}
			
			@-webkit-KEYFRAMES sliderevout
			{
			from { left: 0; z-index: 0;}
			to   { left: 100%;-webkit-transition: left .3s ease-in; z-index: 0;}
			}
			.slidein     { -webkit-animation-name: slidein;     }
			.slideout    { -webkit-animation-name: slideout;    }
			.sliderevin  { -webkit-animation-name: sliderevin;  }
			.sliderevout { -webkit-animation-name: sliderevout; }
			


/*---------ipad-----------------------*/

.slideintrans, .slideouttrans, .sliderevintrans, .sliderevouttrans
			{
			-webkit-backface-visibility: none;
			-webkit-animation-fill-mode: forwards;
			-webkit-animation-duration: .2s;
			-webkit-animation-timing-function:easy-in;
			}
			
			@-webkit-KEYFRAMES slideintrans
			{
			from { -webkit-transform: translateX(100%); z-index: 0;}
			to   { -webkit-transform: translateX(0); z-index: 0;}
			}
			@-webkit-KEYFRAMES slideouttrans
			{
			from { -webkit-transform: translateX(0); z-index: 0;}
			to   { -webkit-transform: translateX(-100%); z-index: 0;}
			}
			@-webkit-KEYFRAMES sliderevintrans
			{
			from { -webkit-transform: translateX(-100%); z-index: 0;}
			to   { -webkit-transform: translateX(0); z-index: 0;}
			}
			@-webkit-KEYFRAMES sliderevouttrans
			{
			from { -webkit-transform: translateX(0); z-index: 0;}
			to   { -webkit-transform: translateX(100%); z-index: 0;}
			}
			.slideintrans     { -webkit-animation-name: slideintrans;     }
			.slideouttrans   { -webkit-animation-name: slideouttrans;    }
			.sliderevintrans  { -webkit-animation-name: sliderevintrans;  }
			.sliderevouttrans { -webkit-animation-name: sliderevouttrans; }		


/* ----------- END of Page Controller-Transitions ---------*/




/*  ------Start divAlingment  -------*/

	.hbox {
		display: -webkit-box;
		-webkit-box-orient: horizontal;

		display: -moz-box;
		-moz-box-orient: horizontal;

		display: box;
		box-orient: horizontal;
	}

	.vbox {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-box-align: stretch;

		display: -moz-box;
		-moz-box-orient: vertical;
		-moz-box-align: stretch;

		display: box;
		box-orient: vertical;
		box-align: stretch;
	}

	.justified_box {
		/*-webkit-box-align: center;*/
		-webkit-box-pack: justify;

		/*-moz-box-align: center;*/
		-moz-box-pack: justify;

		/*box-align: center;*/
		box-pack: justify;
	}

	.center_box {
		-webkit-box-align: center;
		-webkit-box-pack: center;

		-moz-box-align: center;
		-moz-box-pack: center;

		box-align: center;
		box-pack: center;
	}

	.flex_child_1 {
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		box-flex: 1;
	}

	.flex_child_2 {
		-webkit-box-flex: 2;
		-moz-box-flex: 2;
		box-flex: 2;
	}
	
	.centerLoader {
        /* basic styling */
       
        font-size: 14px;
       
        /* flexbox, por favor */
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;
       
        display: -moz-box;
        -moz-box-orient: horizontal;
        -moz-box-pack: center;
        -moz-box-align: center;
        
        display: box;
        box-orient: horizontal;
        box-pack: center;
        box-align: center;
    }

/*  ------End divAlingment  -------*/




/*------------ Memu -----------*/
	.menu_items_inactive{
		display: block;
		background-repeat:no-repeat;
		background-position:0 0;			
		width: 190px;
		height:14px;
		margin-bottom:10px;
	}

	.menu_block1{	width: 190px;}
	.menu_block2{	width: 150px;}

/*------------ End Memu -----------*/





/* ----------- Home Page --------- */

#home_page_cont_1
{
	float: right;
	background: transparent;
	width: 100%;
	-webkit-box-sizing: border-box;
	/*padding: 10px;*/
}

#home_page_cont_2
{
	float: left;
	background: transparent;
	width: 50%;
	-webkit-box-sizing: border-box;

	/*padding: 10px;*/
}

#home_page_cont_3
{
	float: right;
	background: transparent;
	width: 50%;
	-webkit-box-sizing: border-box;
	/*padding: 10px;*/
}

#products_page_img_cont
{
	height:150px;
}

#home_footer1
{
	height:220px;
}


/*-----------------News Page---------------*/

#news_cont_1
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
}
	

#news_cont_2
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
}
	
	
/*-----------------Praise Page---------------*/

#praise_cont_1
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
}
	
#praise_cont_2
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
}	
		

/*-----------------Innovating Page---------------*/

#over_cont_1
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
}
	
#over_cont_2
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
}

.active_inno_menu
{	
	background:url('assets/innovationPage/carrot.png') no-repeat;
	background-position:50% 0
}
	
#chara_cont_1
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
}
	
#chara_cont_2
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
}	
	
#custo_cont_1
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
}
	
#custo_cont_2
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
}	
	
#appli_cont_1
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
}
	
#appli_cont_2
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
}	
		
#lite_cont_1
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
}
	
#lite_cont_2
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	}	
	
	
/*-------------------|Iscroll4 |---------------------*/
.wrapper
{
	position:relative; 
	z-index:1;
	height:150px;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	overflow:auto;
}

#scroller 
{
	height:100%;
	float:left;
	padding:0;
}

#scroller ul 
{
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,#fcfcfc), color-stop(40%,#d7d7d7), color-stop(58%,#e7e7e7), color-stop(80%,#f8f8f8), color-stop(100%,#ffffff));
}

#scroller li 
{
	display:block;
	vertical-align:middle;
	float:left;
	padding:0 0px;
	width:140px;
	height:100%;
	font-size:14px;
}

/*-----------------------FUN WITH GORILLA_____________---*/

#fun_page_cont1{
	float:left;
	width: 100%;

}
#fun_page_cont2{	
	float:left;
	width: 50%;
}
#fun_page_cont3{	
	float:right;
	width: 50%;
	text-align:right;
}

#fun_footer_share{
	margin-left:auto;
	margin-right:auto;
}
#coverflow
{
	zoom :150%;
   	width:480px;
   	height:270px;
}
	
	

/*-----------------------FUN WITH GORILLA END ------------------*/

#dell_footer
{
	margin-top:300px;
}




/*-----------------Product pages---------*/

.ext_page_footer
{
	height:140px;				
}

.ext_page_footer_child
{
	height:100px;				
}





/*------------NOTE THIS CODE BELOW SHOULD ALWAYS BE AT THE BOTTOM---------------------*/


		

@media ONLY screen
and (min-device-width : 320px)
and (orientation : landscape)
{
	
	#home_page_cont_1
	{
		width: 60%;
	}
	
	#home_page_cont_2
	{
		width: 40%;
	}
	
	#home_page_cont_3
	{
		width: 60%;
	}
	
	#products_page_img_cont
	{
		
		height:205px;
	}	
	
	/* innovating overview*/	
	#over_cont_1
	{
		width: 45%;
	}
	
	#over_cont_2
	{
		width: 55%;
	}
	
	/* innovating characteristics*/			
	#chara_cont_1
	{
		width: 45%;
	}
	
	#chara_cont_2
	{
		width: 55%;
	}
	
	/* innovating customization*/	
	#custo_cont_1
	{
		width: 45%;
	}
	
	#custo_cont_2
	{
		width: 55%;
	}
	
	/* innovating applications*/	
	#appli_cont_1
	{
		width: 45%;
	}
	
	#appli_cont_2
	{
		width: 55%;
	}
	
	/* innovating literature*/	
	#lite_cont_1
	{
		width: 45%;
	}
	
	#lite_cont_2
	{
		width: 55%;
	}
		
	/* footer home page */
	#home_footer1
	{
		height:300px;
	}
	
	#home_footer
	{
		margin-top:-180px;
	}
		
	#news_cont_1
	{
		width: 45%;
	}
	
	#news_cont_2
	{
		width: 55%;
	}
		
	#praise_cont_1
	{
		width: 45%;
	}
	
	#praise_cont_2
	{
		width: 55%;
	}
	
	
	
	/*-------------FunWith Gorilla Page------*/
	#fun_page_cont1
	{	
		width: 50%;	
	}
	
	#fun_page_cont2
	{	
		width: 100%;
		margin-top:-180px;		
	}
	
	#fun_page_cont3
	{		
		width: 50%;	
	}
	
	#fun_footer_share
	{
		margin-left:auto;
		margin-right:13%;
	}
	
	#coverflow
	{
		zoom :100%;
       	width:320px;
    	height:180px;
    }
	
	/*-------------Praise Page------*/
	#praise_line
	{	
		display: none;	
	}
	
	#praise_line1
	{	
		display: none;	
	}
	
	
	/*--------------------- Acer product page ---------------------*/
	#dell_footer{
		margin-top:100px
	}
	
}





		
		/*This is for Acer Iconia A100 7inc*/
		@media ONLY screen
		and (device-height : 600px)
		and (device-width : 1024px)
		and (orientation : landscape) 
		{
		
			#gorillasms_footer{
				margin-top:62px				
			}
			
			#contactus_footer{
				margin-top:182px				
			}
			
			#gorillaemail_footer{
				margin-top:135px;				
			}
		
			#aboutus_footer{
				margin-top:47px				
			}
		
		    /*--------- Fixing Product pages Height--------*/
			#dell_footer{
				margin-top:-100px
			}
			
			#lumigon_footer{
				margin-top:-90px
			}
			
			#nec_footer{
				margin-top:-90px
			}
			
			#sk_telesys_footer{
				margin-top:-90px
			}
			
			#sonim_footer{
				margin-top:-90px
			}
			
			#moti_footer{
				margin-top:-90px
			}		
			/*--------- End Fixing Product pages Height--------*/				
		}
		
		@media ONLY screen
		and (device-width : 600px)
		and (device-height : 1024px)
		and (orientation : portrait) 
		{
			#products_page_img_cont
			{
				height:110px;			
			}
			
			#gorillasms_footer{
				margin-top:528px				
			}
			
			#contactus_footer{
				margin-top:590px				
			}
			
			#gorillaemail_footer{
				margin-top:600px;				
			}
			
			#aboutus_footer{
				margin-top:427px				
			}
			
			/*--------- Fixing Product pages Height--------*/
			#dell_footer{
				margin-top:350px
			}	
			
			#htc_footer{
				margin-top:0px
			}
						
			#lg_footer{
				margin-top:40px
			}
						
			#lumigon_footer{
				margin-top:382px
			}
			
			#nec_footer{
				margin-top:383px
			}
			
			#sk_telesys_footer{
				margin-top:377px
			}
			
			#sonim_footer{
				margin-top:293px
			}
			
			#moti_footer{
				margin-top:365px
			}
			
			#hyundai_footer{
				margin-top:255px
			}
			
			#samsungSUR40_footer{
				margin-top:338px
			}
			
			#hp_footer{
				margin-top:332px
			}									
			/*--------- End Fixing Product pages Height--------*/
			
			#WallpaperPreview_page{
				height:100%
			}	
		}
		
		
		/*This is for Samsung Galaxy 7inc*/
		@media ONLY screen
		and (device-height : 501px)
		and (device-width : 1024px)
		and (orientation : landscape) 
		{
			#gorillasms_footer{
				margin-top:115px				
			}
		
			#contactus_footer{
				margin-top:227px				
			}
			
			#gorillaemail_footer{
				margin-top:188px;				
			}
			
			#aboutus_footer{
				margin-top:98px				
			}
						
			/*--------- Fixing Product pages Height--------*/
			#dell_footer{
				margin-top:-100px
			}
			
			#lumigon_footer{
				margin-top:-105px
			}
			
			#nec_footer{
				margin-top:-105px
			}
			
			#sk_telesys_footer{
				margin-top:-105px
			}
			
			#sonim_footer{
				margin-top:-60px
			}
			
			#moti_footer{
				margin-top:-105px
			}
			
			#samsungSUR40_footer{
				margin-top:-27px
			}
			
			#hp_footer{
				margin-top:-15px
			}
		}
		
		@media ONLY screen
		and (device-width : 600px)
		and (device-height :887px)
		and (orientation : portrait) 
		{
			#products_page_img_cont
			{
				height:110px;				
			}	
			
			#gorillasms_footer{
				margin-top:542px				
			}
			
			#contactus_footer{
				margin-top:600px				
			}
			
			#gorillaemail_footer{
				margin-top:615px;				
			}
			
			#aboutus_footer{
				margin-top:397px				
			}
			
			/*--------- Fixing Product pages Height--------*/
			#dell_footer{
				margin-top:350px
			}	
			
			#htc_footer{
				margin-top:0px
			}
						
			#lg_footer{
				margin-top:57px
			}
						
			#lumigon_footer{
				margin-top:400px
			}
			
			#nec_footer{
				margin-top:397px
			}
			
			#sk_telesys_footer{
				margin-top:382px
			}
			
			#sonim_footer{
				margin-top:293px
			}
			
			#moti_footer{
				margin-top:365px
			}
			
			#hyundai_footer{
				margin-top:225px
			}
			
			#samsungSUR40_footer{
				margin-top:335px
			}
			
			#hp_footer{
				margin-top:330px
			}
			
			
			#WallpaperPreview_page{
				height:100%
			}					
			/*--------- End Fixing Product pages Height--------*/
		}
		


        /* This is for Ipad 9,7inc */
		@media only screen
		and (device-width : 768px)
		and (device-height : 1024px)
		{		
										
		}
		
		
		@media only screen
		and (device-width : 768px)
		and (device-height : 1024px)
		and (orientation : landscape)
		{			
			#gorillasms_footer{
				margin-top:286px				
			}
			
			#contactus_footer{
				margin-top:400px;				
			}
			
			#gorillaemail_footer{
				margin-top:360px;				
			}
			
			#aboutus_footer{
				margin-top:255px				
			}
		
			/*--------- Fixing Product pages Height--------*/
			#dell_footer{
				margin-top:0px
			}
			
			#lumigon_footer{
				margin-top:50px
			}
			
			#nec_footer{
				margin-top:50px
			}
			
			#sk_telesys_footer{
				margin-top:50px
			}
						
			#sonim_footer{
				margin-top:50px
			}
			
			#moti_footer{
				margin-top:50px
			}
			
			#hyundai_footer{
				margin-top:110px
			}
			
			#samsungSUR40_footer{
				margin-top:160px
			}
			
			#hp_footer{
				margin-top:170px
			}
		}

		@media only screen
		and (device-width : 768px)
		and (device-height : 1024px)
		and (orientation : portrait) 
		{
		
			#WallpaperPreview_page{
				height:100%
			}
			
			#gorillasms_footer{
				margin-top:567px				
			}
			
			#contactus_footer{
				margin-top:642px				
			}	
			
			#gorillaemail_footer{
				margin-top:642px				
			}		
			
			#aboutus_footer{
				margin-top:480px				
			}

			/*--------- Fixing Product pages Height--------*/
			#acer_footer{
				margin-top:-13px
			}
			
			#asus_footer{
				margin-top:17px
			}
			
			#dell_footer{
				margin-top:105px
			}	
			
			#htc_footer{
				margin-top:0px
			}
						
			#lg_footer{
				margin-top:90px
			}
						
			#lumigon_footer{
				margin-top:377px
			}
			
			#nec_footer{
				margin-top:377px
			}
			
			#sk_telesys_footer{
				margin-top:376px
			}
			
			#sonim_footer{
				margin-top:363px
			}
			
			#moti_footer{
				margin-top:377px
			}
			
			#hyundai_footer{
				margin-top:346px
			}
			
			#samsungSUR40_footer{
				margin-top:395px
			}
			
			#hp_footer{
				margin-top:390px
			}
			
			#nokia_footer{
				margin-top:-5px
			}
			
			#lenovo_footer{
				margin-top:18px
			}									
			/*--------- End Fixing Product pages Height--------*/

		}

	    /* This is for Motorola Zoom, Samsung Galaxy 10.1, Acer Iconia 10.1                                                                                                                                                                                                                                                                                                                           */	
		@media only screen
		and (device-height : 800px)
		and (device-width : 1280px)
		and (orientation : landscape)
		{
			#home_footer1
			{
				height:350px;
			}
			
			#products_page_img_cont
			{
				height:225px;				
			}	
						
			#gorillasms_footer{
				margin-top:237px				
			}	
			
			#contactus_footer{
				margin-top:382px				
			}
			
			#gorillaemail_footer{
				margin-top:308px;				
			}
			
			#aboutus_footer{
				margin-top:245px				
			}
						
			/*Product pages footer*/			
			.ext_page_footer
			{
				height:200px;								
			}
			
			.ext_page_footer_child
			{
				height:160px;						
			}
			
			#hp_footer
			{
				margin-top:77px;
			}
						
			#dell_footer
			{
				margin-top:-145px;
			}
					
			#hyundai_footer
			{
				margin-top:7px;
			}
			
			#htc_footer
			{
				margin-top:0px;
			}
			
			#lumigon_footer
			{
				margin-top:-145px;
			}
			
			#nec_footer
			{
				margin-top:-145px;
			}
			
			#sk_telesys_footer
			{
				margin-top:-145px;
			}			
			
			#sonim_footer
			{
				margin-top:-145px;
			}
						
			#moti_footer
			{
				margin-top:-145px;
			}			
			
			#samsungSUR40_footer
			{
				margin-top:55px;
			}
			
			
			/*-------------FunWith Gorilla Page------*/
			#fun_page_cont1
			{	
				width: 40%;	
			}
			
			#fun_page_cont2
			{	
				width: 100%;
				margin-top:-420px;
			}
			
			#fun_page_cont3
			{		
				width: 60%;
				
			}
			
			#fun_footer_share
			{
				margin-left:auto;
				margin-right:13%;
			}
			
			#coverflow
			{
				zoom :100%;
		       	width:320px;
		    	height:180px;
		    }
				
		}

		@media only screen
		and (device-width : 800px)
		and (device-height : 1280px)
		and (orientation : portrait) 
		{

			#WallpaperPreview_page{
				height:100%
			}
			
			#gorillasms_footer{
				margin-top:765px				
			}
			
			#contactus_footer{
				margin-top:860px				
			}
			
			#gorillaemail_footer{
				margin-top:837px;				
			}
			
			#aboutus_footer{
				margin-top:695px				
			}
			
			/*--------- Fixing Product pages Height--------*/		
						
			#acer_footer{
				margin-top:226px
			}
				
			#dell_footer{
				margin-top:567px
			}	
			
			#asus_footer{
				margin-top:242px
			}
			
			#htc_footer{
				margin-top:145px
			}										
						
			#lg_footer{
				margin-top:295px
			}
						
			#lumigon_footer{
				margin-top:567px
			}
						
			#motorola_footer{
				margin-top:18px
			}
						
			#nec_footer{
				margin-top:565px
			}
						
			#nokia_footer{
				margin-top:223px
			}
						
			#samsung_footer{
				margin-top:95px
			}
						
			#sk_telesys_footer{
				margin-top:566px
			}
			
			#sonim_footer{
				margin-top:565px
			}
						
			#lenovo_footer{
				margin-top:230px
			}
			
			#moti_footer{
				margin-top:567px
			}
			
			#hyundai_footer{
				margin-top:545px
			}
			
			#samsungSUR40_footer{
				margin-top:595px
			}
			
			#hp_footer{
				margin-top:600px
			}									
			/*--------- End Fixing Product pages Height--------*/
		}


	    

/*-------------- fix Page size according to device END------------*/

