<div style="-webkit-box-sizing:border-box; padding-left:20px; padding-right:20px; padding-top:10px">	
	<div style="font-weight:bold; padding-bottom:10px;">
		<span style="color:#009ED3; font-size:14px">ABOUT CORNING</span>		
	</div>
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff));"></div>
	
	<div style="color:#505050; font-size:12px; margin-Top:10px">
		Corning Incorporated is the world leader in specialty glass and ceramics. Drawing on more than 150 years of materials science and process engineering 
		knowledge, Corning makes keystone components that enable high-technology systems for consumer electronics, telecommunications, mobile emissions control, 
		and life sciences.<br/><br/>
	</div>
	<div style="color:#505050; font-size:12px; font-weight:bold">
		Corning's products include:
	</div>
	</br>
	<div style="color:#505050; font-size:12px;">
		• Glass substrates for LCD televisions and monitors, mobile devices, and other consumer electronics<br/>
		• Optical fiber, cable, and hardware and equipment for telephone and Internet communication networks<br/>
		• Ceramic substrates and filters for automotive emissions-control systems<br/>
		• Optical biosensors for drug discovery<br/>
		• Advanced optics and special glass solutions for the semiconductor, aerospace, and defense industries<br/><br/>		
		Corning's research, development, and engineering investments support growth in existing businesses while also creating entirely new innovations.<br/><br/>
		Visit <a href="http://www.corning.com/" target="_blank"><font color="#009ed3">corning.com</font></a> for more.	
	</div>
	</br>
		
</div>
<!-- FOOTER -->
<div id="aboutus_footer" style="height:auto;">									
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff)); margin-top:10px"></div>	
	<div id="ext_footer2" class="hbox justified_box" style="font-size:11px; width:100%; height:20px; margin-top:10px;">
		<div style="padding-left:10px; color:#6E6E6E">© 2013 Corning incorporated. All rights reserved</div>
		<div style="padding-right:10px; color:#009ED3">
			<span id="AboutUs_btn" onclick="gorilla.openExternalPage(this)">About Corning</span> 
			<span style="color:#858585;">|</span> 
			<span id="ContactUs_btn" onclick="gorilla.openExternalPage(this)">Contact Us</span>
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx','_blank')">Terms of Use</span>  
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com','_blank')">Corning.com</span>
		</div>
	</div>										
</div>	



