<div style="-webkit-box-sizing:border-box; padding-left:30px; padding-right:15px; padding-top:10px">
	
	<div style="font-weight:bold; padding-bottom:10px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.gotToPage(products_page)">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">ACER</span>
	</div>
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff));"></div>	
	<div style="padding-top:10px" class="hbox justified_box">
		<div style=" width:250px; padding-Top:70px">
			<img style="width:240px" src="assets/product_images/Acer/Acer1.jpg"/>
		</div>			
		<div class="flex_child_2">	
			<div>
				<img src="assets/product_images/Acer/Acer_logo.jpg"/>
			</div>
			<div style="color:#505050; font-size:12px; padding-top:10px">
				Visually stunning, incredibly tough Corning® Gorilla® Glass enables today's 
				sleekest smartphone, tablet, and PC designs, while providing exceptional damage 
				resistance to the drops, bumps and scrapes of everyday use. Gorilla Glass is sensitive 
				enough for today's most sophisticated touch applications, and is available with an easy-to-clean coating.<br/><br/>		
				Gorilla Glass is available on the Acer ICONIA family of products.
			</div>
			<br/>
			<div style="width:190px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
				<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:105px">FOLLOW ACER ON</div>
				<div style="margin-top:5px">
					<img onclick="window.open('http://www.facebook.com/Acer','_blank')" style="float:left; padding-left:5px" src="assets/shares/facebook.png" width="35" /> 
					<img onclick="window.open('http://www.youtube.com/acer','_blank')" style="float:left; padding-left:5px" src="assets/shares/youtube.png" width="35" /> 
				</div>
				<div style="clear:both"></div>		
			</div>	
			<br/>			
			<div style="color:#505050; font-size:15px; font-weight:bold">FEATURED</div>
			<br/>	
			
			<div>								
				<div style="margin-right:10px; float:left; width:68px;" onclick="window.open('http://us.acer.com/ac/en/US/content/series/aspire-ethos','_blank')">
					<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E7ECEF)); -webkit-border-radius:0px; border:1px solid #ddd;">
						<img style="width:100%"src="assets/product_images/Acer/Acer_Aspire_Ethos.png"/>
					</div>
					<div align="center" style="color:#505050; font-size:10px; margin-top:5px">ACER ASPIRE ETHOS</div>
				</div>
				<div style="margin-right:10px; float:left; width:68px;" onclick="window.open('http://us.acer.com/ac/en/US/content/iconia','_blank')">
					<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E7ECEF)); -webkit-border-radius:0px; border:1px solid #ddd;">
						<img style="width:100%"src="assets/product_images/Acer/Acer_Iconia_TouchBook.png"/>
					</div>
					<div align="center" style="color:#505050; font-size:10px; margin-top:5px">ACER ICONIA TOUCHBOOK</div>
				</div>
				<div style="margin-right:10px; float:left; width:68px;" onclick="window.open('http://us.acer.com/ac/en/US/content/iconia-tab-w500','_blank')">
					<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E7ECEF)); -webkit-border-radius:0px; border:1px solid #ddd;">
						<img style="width:100%"src="assets/product_images/Acer/Acer_Iconia_Tab_W500.png"/>
					</div>
					<div align="center" style="color:#505050; font-size:10px; margin-top:5px">ACER ICONIA TAB W500</div>
				</div>
				<div style="float:left; width:68px;" onclick="window.open('http://us.acer.com/ac/en/US/content/iconia-tab-a500','_blank')">
					<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E7ECEF)); -webkit-border-radius:0px; border:1px solid #ddd;">
						<img style="width:100%"src="assets/product_images/Acer/Acer_Iconia_Tab_A500.png"/>
					</div>
					<div align="center" style="color:#505050; font-size:10px; margin-top:5px">ACER ICONIA TAB A500</div>
				</div>
				<div style="clear:both"></div>		
			</div>
			<div style="margin-top:20px;">
				<div style="margin-right:10px; float:left; width:68px;" onclick="window.open('http://us.acer.com/ac/en/US/content/iconia-tab-a100','_blank')">
					<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E7ECEF)); -webkit-border-radius:0px; border:1px solid #ddd;">
						<img style="width:100%"src="assets/product_images/Acer/Acer_Iconia_Tab_A100.png"/>
					</div>					
					<div align="center" style="color:#505050; font-size:10px; margin-top:5px">ACER ICONIA TAB A100</div>
				</div>
				<div style="float:left; width:68px;" onclick="window.open('http://us.acer.com/ac/en/US/content/iconia-smart','_blank')">
					<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E7ECEF)); -webkit-border-radius:0px; border:1px solid #ddd;">
						<img style="width:100%"src="assets/product_images/Acer/Acer_Iconia_smart.png"/>
					</div>
					<div align="center" style="color:#505050; font-size:10px; margin-top:5px">ACER ICONIA SMART</div>
				</div>
				<div style="clear:both"></div>
			</div>	
										
		</div>
		
	</div>
		
	<div style="color:#505050; font-size:15px; font-weight:bold">RELATED NEWS</div>
	<div style="color:#000; font-size:14px">January 9, 2012</div>
	<div onclick="window.open('http://www.corning.com/news_center/news_releases/2012/2012010902.aspx','_blank')" style="color:#009ED3; font-size:14px; width:480px">Corning and Acer Continue Collaboration with Corning® Gorilla® Glass 2</div>
	<br/>
	<div style="color:#505050; font-size:15px; font-weight:bold">CUSTOMER SERVICE INFO</div>
	<div style="color:#505050; font-size:12px">Acer options, accessories and warranties:</div>
	<div onclick="window.open('http://store.acer.com/store/aceremea/global','_blank')" style="color:#009ED3; font-size:12px; width:250px"><u>http://store.acer.com/store/aceremea/global</u></div>
</div>

<!-- FOOTER -->
<div id="acer_footer" class="ext_page_footer">
	<div id="ext_footer1" class="hbox justified_box ext_page_footer_child" style="width:100%; border-bottom:1px solid gray -webkit-box-pack:end; -webkit-box-align:end;">
		<div style="width:30%"></div>
		<div style="width:40%" class="hbox justified_box">
			<div></div>							
			<div style="margin-left:auto; margin-right:auto; width:274px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
				<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:105px">SHARE THIS PAGE</div>
				<div style="margin-top:5px; float:left; padding-left:5px">
					<img id="acer_fb" data-analytics="acer_fb" onclick="gorilla.socialSharing(this)" src="assets/shares/facebook.png" width="35" /> 
					<img id="acer_tw" data-analytics="acer_tw" onclick="gorilla.socialSharing(this)" src="assets/shares/twitter.png" width="35" /> 
					<img id="acer_sms" data-analytics="acer_sms" onclick="gorilla.socialSharing(this)" src="assets/shares/sms.png" width="35" /> 
					<img id="acer_email" data-analytics="acer_email" onclick="gorilla.socialSharing(this)" src="assets/shares/email.png" width="35" /> 
				</div>
				<div style="clear:both"></div>
			</div>								
			<div></div>
		</div>
		<div style="width:30%">
			<div style="height:100%; margin-right:5px; background:url('assets/ToughFooter_products.png') no-repeat;-webkit-background-size:70% auto; background-position:100% 100%"></div>
		</div>
	</div>										
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff)); margin-top:10px"></div>	
	<div id="ext_footer2" class="hbox justified_box" style="font-size:11px; width:100%; height:20px; margin-top:10px;">
		<div style="padding-left:10px; color:#6E6E6E">© 2013 Corning incorporated. All rights reserved</div>
		<div style="padding-right:10px; color:#009ED3">
			<span id="AboutUs_btn" onclick="gorilla.openExternalPage(this)">About Corning</span> 
			<span style="color:#858585;">|</span> 
			<span id="ContactUs_btn" onclick="gorilla.openExternalPage(this)">Contact Us</span>
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx','_blank')">Terms of Use</span>  
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com','_blank')">Corning.com</span>
		</div>
	</div>										
</div>		

