<div style="-webkit-box-sizing:border-box; padding-left:30px; padding-right:15px; padding-top:10px">
	
	<div style="font-weight:bold; padding-bottom:10px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.gotToPage(products_page)">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">ASUS</span>
	</div>
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff));"></div>	
	<div style="padding-top:10px" class="hbox justified_box">
		<div align="center" style=" width:230px; padding-Top:90px">
			<img style="width:135px" src="assets/product_images/Asus/asus_left_logo.png"/>
		</div>			
		<div class="flex_child_2">	
			<div>
				<img src="assets/product_images/Asus/Asus_logo.jpg"/>
			</div>
			<div style="color:#505050; font-size:12px; padding-top:10px">
				Visually stunning, incredibly tough Corning® Gorilla® Glass enables today's sleekest smartphone, tablet and laptop designs, 
				while providing exceptional damage resistance to the drops, bumps and scrapes of everyday use. Gorilla Glass is sensitive enough for 
				today's most sophisticated touch applications and is available with an easy-to-clean coating.				
			</div>
			<br/>
			<div style="width:300px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
				<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:170px">FOLLOW ASUS COMPUTER ON</div>
				<div style="margin-top:5px">
					<img onclick="window.open('http://www.facebook.com/ASUS','_blank')" style="float:left; padding-left:5px" src="assets/shares/facebook.png" width="35" />
					<img onclick="window.open('http://twitter.com/#!/asus','_blank')" style="float:left; padding-left:5px" src="assets/shares/twitter.png" width="35" />  
					<img onclick="window.open('http://www.youtube.com/asus','_blank')" style="float:left; padding-left:5px" src="assets/shares/youtube.png" width="35" /> 
				</div>
				<div style="clear:both"></div>		
			</div>	
			<br/>			
			<div style="color:#505050; font-size:15px; font-weight:bold">FEATURED</div>					
			<div style="padding-Top:5px">								
				<div style="margin-right:10px; float:left; width:68px;" onclick="window.open('http://eee.asus.com/eeepad/transformer-infinity/features/','_blank')">
					<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E7ECEF)); -webkit-border-radius:0px; border:1px solid #ddd;">
						<img style="width:68px"src="assets/product_images/Asus/asus_left_logo.png"/>
					</div>
					<div align="center" style="color:#505050; font-size:10px; margin-top:5px">ASUS TRANSFORMER PAD INFINITY</div>
				</div>				
				<div style="clear:both"></div>		
			</div>							
		</div>		
	</div>
				
	<div style="color:#505050; font-size:15px; font-weight:bold; padding-bottom:10px">RELATED PRODUCTS</div>
	<div style="">								
		<div style="margin-right:10px; float:left; width:100px;" onclick="window.open('http://www.asus.com/Eee/Eee_Pad/Eee_Pad_Slider_SL101/','_blank')">
			<img style="width:100px" src="assets/product_images/Asus/related_products1.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ASUS Eee Pad Slider</div>
		</div>		
		<div style="margin-right:10px; float:left; width:100px;" onclick="window.open('http://www.asus.com/Eee/Eee_Pad/Eee_Pad_Transformer_TF101/','_blank')">
			<img style="width:100px" src="assets/product_images/Asus/related_products2.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ASUS Eee Pad Transformer</div>
		</div>				
		<div style="margin-right:10px; float:left; width:100px;" onclick="window.open('http://eee.asus.com/en/eeepad/transformer-prime/features','_blank')">
			<img style="width:100px" src="assets/product_images/Asus/related_products3.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ASUS Eee Pad Transformer Prime</div>
		</div>		
		<div style="margin-right:10px; float:left; width:100px;" onclick="window.open('http://usa.asus.com/Eee/Eee_Pad/Eee_Slate_EP121/','_blank')">
			<img style="width:100px" src="assets/product_images/Asus/related_products4.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:14px">ASUS Eee Slate EP121</div>
		</div>		
		<div style="margin-right:10px; float:left; width:100px;" onclick="window.open('http://www.asus.com/Mobile/PadFone/','_blank')">
			<img style="width:100px" src="assets/product_images/Asus/related_products5.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ASUS PadFone</div>
		</div>							
		<div style="clear:both"></div>		
	</div>			
				
	<div style="color:#505050; font-size:15px; font-weight:bold; padding-Top:25px">RELATED NEWS</div>	
	<div style="width:50%; float:left;">			
		<div style="color:#000; font-size:14px;">February 28, 2012</div>
		<div onclick="window.open('http://www.asus-pr.ch/pressrelease/asus-showcases-innovation-and-variety-through-its-transformer-pad-range/','_blank')" style="color:#009ED3; font-size:14px; -webkit-box-sizing:border-box; padding-right:15px;">ASUS Showcases Innovation and Variety through its Transformer Pad Range</div>
	</div>
	<div style="width:50%; float:left;">		
		<div style="color:#000; font-size:14px">January 9, 2012</div>
		<div onclick="window.open('http://www.corning.com/news_center/news_releases/2012/2012010903.aspx','_blank')" style="color:#009ED3; font-size:14px;">ASUS Selects Corning® Gorilla® Glass 2</div>
	</div>
	<div style="clear:both"></div>
</div>

<!-- FOOTER -->
<div id="asus_footer" class="ext_page_footer">
	<div id="ext_footer1" class="hbox justified_box ext_page_footer_child" style="width:100%; border-bottom:1px solid gray -webkit-box-pack:end; -webkit-box-align:end;">
		<div style="width:30%"></div>
		<div style="width:40%" class="hbox justified_box">
			<div></div>							
			<div style="margin-left:auto; margin-right:auto; width:274px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
				<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:105px">SHARE THIS PAGE</div>
				<div style="margin-top:5px; float:left; padding-left:5px">
					<img id="asus_fb" data-analytics="asus_fb" onclick="gorilla.socialSharing(this)" src="assets/shares/facebook.png" width="35" /> 
					<img id="asus_tw" data-analytics="asus_tw" onclick="gorilla.socialSharing(this)" src="assets/shares/twitter.png" width="35" /> 
					<img id="asus_sms" data-analytics="asus_sms" onclick="gorilla.socialSharing(this)" src="assets/shares/sms.png" width="35" /> 
					<img id="asus_email" data-analytics="asus_email" onclick="gorilla.socialSharing(this)" src="assets/shares/email.png" width="35" /> 
				</div>
				<div style="clear:both"></div>
			</div>								
			<div></div>
		</div>
		<div style="width:30%">
			<div style="height:100%; margin-right:5px; background:url('assets/ToughFooter_products.png') no-repeat;-webkit-background-size:70% auto; background-position:100% 100%"></div>
		</div>
	</div>										
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff)); margin-top:10px"></div>	
	<div id="ext_footer2" class="hbox justified_box" style="font-size:11px; width:100%; height:20px; margin-top:10px;">
		<div style="padding-left:10px; color:#6E6E6E">© 2013 Corning incorporated. All rights reserved</div>
		<div style="padding-right:10px; color:#009ED3">
			<span id="AboutUs_btn" onclick="gorilla.openExternalPage(this)">About Corning</span> 
			<span style="color:#858585;">|</span> 
			<span id="ContactUs_btn" onclick="gorilla.openExternalPage(this)">Contact Us</span>
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx','_blank')">Terms of Use</span>  
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com','_blank')">Corning.com</span>
		</div>
	</div>										
</div>		

