<div style="-webkit-box-sizing:border-box; padding-left:20px; padding-right:20px; padding-top:10px">	
	<div style="font-weight:bold; padding-bottom:10px;">
		<span style="color:#009ED3; font-size:14px">CONTACT US</span>		
	</div>
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff));"></div>
	
	<div style="color:#505050; font-size:12px; margin-Top:10px">
		For more information on Gorilla Glass, please send us your contact information and question, and we will get back to you within 24 hours.<br/><br/>
	
		Corning Incorporated<br/>
		One Riverfront Plaza<br/>
		Corning, NY 14831 USA<br/>
		Email: <a href="mailto:gorillaglass@corning.com"><font color="#009ed3">gorillaglass@corning.com</font></a>
	</div>
</div>
<!-- FOOTER -->
<div id="contactus_footer" style="height:auto;">									
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff)); margin-top:10px"></div>	
	<div id="ext_footer2" class="hbox justified_box" style="font-size:11px; width:100%; height:20px; margin-top:10px;">
		<div style="padding-left:10px; color:#6E6E6E">© 2013 Corning incorporated. All rights reserved</div>
		<div style="padding-right:10px; color:#009ED3">
			<span id="AboutUs_btn" onclick="gorilla.openExternalPage(this)">About Corning</span> 
			<span style="color:#858585;">|</span> 
			<span id="ContactUs_btn" onclick="gorilla.openExternalPage(this)">Contact Us</span>
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx','_blank')">Terms of Use</span>  
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com','_blank')">Corning.com</span>
		</div>
	</div>										
</div>	

