<div style="-webkit-box-sizing:border-box; padding-top:10px">
	<div style="padding-left:30px; padding-right:15px; ">
		<div style="font-weight:bold; padding-bottom:10px">
			<span style="color:#009ED3; font-size:14px" onclick="gorilla.gotToPage(products_page)">PRODUCTS WITH GORILLA</span>
			<span style="color:#505050; font-size:18px">»</span>
			<span style="color:#505050; font-size:14px">HTC</span>
		</div>
		<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff));"></div>	
		<div style="padding-top:10px" class="hbox justified_box">
			<div style=" width:210px; padding-Top:50px">
				<img style="width:200px" src="assets/product_images/HTC/Htc_left_logo.png"/>
			</div>			
			<div class="flex_child_2">	
				<div>
					<img style="width:150px" src="assets/product_images/HTC/Htc_logo.png"/>
				</div>
				<div style="color:#505050; font-size:12px; padding-top:10px">
					Visually stunning, incredibly tough Corning&reg; Gorilla&reg; Glass enables today's sleekest smartphone, 
					tablet, and PC designs, while providing exceptional damage resistance to the drops, bumps and scrapes of everyday use. 
					Gorilla Glass is sensitive enough for today's most sophisticated touch applications, and is available with an easy-to-clean coating.
				</div>
				<br/>
				<div style="width:230px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
					<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:100px">FOLLOW HTC ON</div>
					<div style="margin-top:5px">
						<img onclick="window.open('http://www.facebook.com/HTC','_blank')" style="float:left; padding-left:5px" src="assets/shares/facebook.png" width="35" />
						<img onclick="window.open('http://twitter.com/HTC','_blank')" style="float:left; padding-left:5px" src="assets/shares/twitter.png" width="35" /> 
						<img onclick="window.open('http://www.youtube.com/user/htc','_blank')" style="float:left; padding-left:5px" src="assets/shares/youtube.png" width="35" /> 
					</div>
					<div style="clear:both"></div>		
				</div>	
				<br/>			
				<div style="color:#505050; font-size:15px; font-weight:bold">FEATURED</div>
				<br/>				
				<div>								
					<div style="margin-right:10px; float:left; width:110px" onclick="window.open('http://www.htc.com/www/smartphones/htc-wp-8x/','_blank')">
						<div style="height:100px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E7ECEF)); -webkit-border-radius:0px; border:1px solid #ddd;">
							<center><img style="width:80%" src="assets/product_images/HTC/WindowsPhone8x.png"/></center>
						</div>
						<div align="center" style="color:#505050; font-size:10px; margin-top:5px">Windows Phone 8X by HTC</div>
					</div>				
					<div style="clear:both"></div>		
				</div>				
			</div>		
		</div>
	</div>
		
	<div style="color:#505050; font-size:15px; font-weight:bold; padding-Top:10px; padding-left:30px; padding-right:15px">RELATED PRODUCTS</div>		
	<div class="hbox" style="height:150px; width:100%; background:-webkit-gradient(linear, left top, left bottom, color-stop(38%,#fcfcfc), color-stop(40%,#d7d7d7), color-stop(58%,#e7e7e7), color-stop(80%,#f8f8f8), color-stop(100%,#ffffff));">
		<div id="htc_left_arrow" ontouchend="gorilla.currentScroller.scrollTo(-140, 0, 10,true);" style="-webkit-box-sizing:border-box; width:50px; height:55px; margin-Top:45px; padding-left:30px">
			<img style="width:20px" src="assets/page_arrow_l.png"/>
		</div>	
			
		<div id="htc_wrapper" class="wrapper">
			<div id="scroller">
				<ul id="thelist">	
				
					<li>
						<div style="text-align:center" onclick="window.open('http://www.htc.com/us/smartphones/htc-droid-dna-verizon/','_blank')">						
							<img src="assets/product_images/HTC/related_products_0.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Droid DNA by HTC (US Verizon)</div>
						</div>										
					</li>
							
					<li>
						<div style="text-align:center" onclick="window.open('http://www.htc.com/us/smartphones/htc-droid-incredible2-verizon/','_blank')">						
							<img src="assets/product_images/HTC/related_products_1.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID Incredible 2 by HTC</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.htc.com/us/smartphones/htc-droid-incredible-4g-lte-verizon/','_blank')">						
							<img src="assets/product_images/HTC/related_products_2.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID Incredible 4G LTE by HTC</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.htc.com/us/smartphones/htc-amaze-4g-tmobile/','_blank')">						
							<img src="assets/product_images/HTC/related_products_3.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">HTC Amaze&trade; 4G</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.htc.com/www/smartphones/htc-butterfly/','_blank')">						
							<img src="assets/product_images/HTC/related_products_Butterfly.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">HTC Butterfly</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.htc.com/us/smartphones/htc-evo-design-4g-sprint/','_blank')">						
							<img src="assets/product_images/HTC/related_products_4.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">HTC Evo Design 4G&trade;</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.htc.com/us/smartphones/htc-evo-4g-lte-sprint/','_blank')">						
							<img src="assets/product_images/HTC/related_products_5.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">HTC EVO&trade; 4G LTE</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.htc.com/www/smartphones/htc-one-s/','_blank')">						
							<img src="assets/product_images/HTC/related_products_6.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">HTC One S</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.htc.com/www/smartphones/htc-one-sv/','_blank')">						
							<img src="assets/product_images/HTC/related_products_Onesv.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">HTC One SV</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.htc.com/www/smartphones/htc-one-x/','_blank')">						
							<img src="assets/product_images/HTC/related_products_7.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">HTC One X</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.htc.com/www/smartphones/htc-one-x-plus/','_blank')">						
							<img src="assets/product_images/HTC/related_products_8.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">HTC One X+</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.htc.com/www/smartphones/htc-sensation-xl/','_blank')">						
							<img src="assets/product_images/HTC/related_products_9.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">HTC Sensation XL</div>
						</div>										
					</li>
								
				</ul>
			</div>
		</div>
			
		<div id="htc_right_arrow" ontouchend="gorilla.currentScroller.scrollTo(140, 0, 10,true);" style="width:50px; height:55px; margin-Top:45px">
			<img style="width:20px" src="assets/page_arrow_r.png"/>
		</div>
		
		<div style="clear:both"></div>	
	</div>
	<br/>	
	<div style="padding-left:30px; padding-right:15px">	
		<div style="color:#505050; font-size:15px; font-weight:bold">CUSTOMER SERVICE INFO</div>
		<div style="color:#505050; font-size:12px">If at any point you have any questions regarding an HTC product, you can always contact one of our customer service representatives in a way that is convenient for you.</div>
		<div onclick="window.open('http://www.htc.com/www/help/','_blank')" style="color:#009ED3; font-size:12px; width:200px"><u>http://www.htc.com/www/help/</u></div>
		<div style="color:#A5A5A5; font-size:12px; padding-Top:20px">HTC and the HTC logo are registered trademarks of HTC Corporation. Other company and product names mentioned herein may be trademarks of their respective owners. Specifications and design subject to change without prior notice. Screen images simulated.</div>
	</div>		
</div>

<!-- FOOTER -->
<div id="htc_footer" class="ext_page_footer">
	<div id="ext_footer1" class="hbox justified_box ext_page_footer_child" style="width:100%; border-bottom:1px solid gray -webkit-box-pack:end; -webkit-box-align:end">
		<div style="width:30%"></div>
		<div style="width:40%" class="hbox justified_box">
			<div></div>							
			<div style="margin-left:auto; margin-right:auto; width:274px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
				<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:105px">SHARE THIS PAGE</div>
				<div style="margin-top:5px; float:left; padding-left:5px">
					<img id="htc_fb" data-analytics="htc_fb" onclick="gorilla.socialSharing(this)" src="assets/shares/facebook.png" width="35" /> 
					<img id="htc_tw" data-analytics="htc_tw" onclick="gorilla.socialSharing(this)" src="assets/shares/twitter.png" width="35" /> 
					<img id="htc_sms" data-analytics="htc_sms" onclick="gorilla.socialSharing(this)" src="assets/shares/sms.png" width="35" /> 
					<img id="htc_email" data-analytics="htc_email" onclick="gorilla.socialSharing(this)" src="assets/shares/email.png" width="35" /> 
				</div>
				<div style="clear:both"></div>
			</div>								
			<div></div>
		</div>
		<div style="width:30%">
			<div style="height:100%; margin-right:5px; background:url('assets/ToughFooter_products.png') no-repeat;-webkit-background-size:70% auto; background-position:100% 100%"></div>
		</div>
	</div>										
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff)); margin-top:10px"></div>	
	<div id="ext_footer2" class="hbox justified_box" style="font-size:11px; width:100%; height:20px; margin-top:10px;">
		<div style="padding-left:10px; color:#6E6E6E">© 2013 Corning incorporated. All rights reserved</div>
		<div style="padding-right:10px; color:#009ED3">
			<span id="AboutUs_btn" onclick="gorilla.openExternalPage(this)">About Corning</span> 
			<span style="color:#858585;">|</span> 
			<span id="ContactUs_btn" onclick="gorilla.openExternalPage(this)">Contact Us</span>
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx','_blank')">Terms of Use</span>  
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com','_blank')">Corning.com</span>
		</div>
	</div>										
</div>				

<script>
	gorilla.addScroll('htc_wrapper');
</script>



