<div style="-webkit-box-sizing:border-box; padding-left:30px; padding-right:30px; padding-top:10px">
	
	<div style="font-weight:bold; padding-bottom:10px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.gotToPage(products_page)">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">HYUNDAI</span>
	</div>
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff));"></div>	
	<div style="padding-top:10px" class="hbox justified_box">
		<div style=" width:240px; padding-Top:3px">
			<img style="width:212px" src="assets/product_images/Hyundai/hyundai_left_logo.png"/>
		</div>			
		<div class="flex_child_2">	
			<div>
				<img src="assets/product_images/Hyundai/hyundai_logo.jpg"/>
			</div>
			<div style="color:#505050; font-size:12px; padding-top:10px">
				At the Seoul International Motor Show 2011, Hyundai introduced a new brand direction, "New Thinking, New Possibilities," 
				along with a state-of-the-art, eco-friendly concept car, called Blue<sup>2</sup>. As part of the Blue<sup>2</sup> design, 
				Hyundai combined the cluster and center fascia, applying an advanced Transparent Organic Light Emitting Diode (TOLED) monitor 
				and ultra-light, chemically tempered Corning® Gorilla® Glass, providing more accurate and vivid graphic information.
				<br><br>Hyundai has chosen all of its materials for their green value and to optimize both driver convenience and emotional 
				connection to the vehicle. Hyundai doesn't want to be the biggest car company, but the most loved, and Gorilla Glass fits nicely 
				into that model.		
			</div>
			<div style="width:220px; color:#009ED3; font-size:12px; margin-Top:20px" onclick="window.open('http://www.hyundaiusa.com/','_blank')"><u>Visit hyundai.com for more information</u></div>							
		</div>		
	</div>
</div>

<!-- FOOTER -->
<div id="hyundai_footer" class="ext_page_footer">
	<div id="ext_footer1" class="hbox justified_box ext_page_footer_child" style="width:100%; border-bottom:1px solid gray -webkit-box-pack:end; -webkit-box-align:end;">
		<div style="width:30%"></div>
		<div style="width:40%" class="hbox justified_box">
			<div></div>							
			<div style="margin-left:auto; margin-right:auto; width:274px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
				<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:105px">SHARE THIS PAGE</div>
				<div style="margin-top:5px; float:left; padding-left:5px">
					<img id="hyundai_fb" data-analytics="hyundai_fb" onclick="gorilla.socialSharing(this)" src="assets/shares/facebook.png" width="35" /> 
					<img id="hyundai_tw" data-analytics="hyundai_tw" onclick="gorilla.socialSharing(this)" src="assets/shares/twitter.png" width="35" /> 
					<img id="hyundai_sms" data-analytics="hyundai_sms" onclick="gorilla.socialSharing(this)" src="assets/shares/sms.png" width="35" /> 
					<img id="hyundai_email" data-analytics="hyundai_email" onclick="gorilla.socialSharing(this)" src="assets/shares/email.png" width="35" /> 
				</div>
				<div style="clear:both"></div>
			</div>								
			<div></div>
		</div>
		<div style="width:30%">
			<div style="height:100%; margin-right:5px; background:url('assets/ToughFooter_products.png') no-repeat;-webkit-background-size:70% auto; background-position:100% 100%"></div>
		</div>
	</div>										
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff)); margin-top:10px"></div>	
	<div id="ext_footer2" class="hbox justified_box" style="font-size:11px; width:100%; height:20px; margin-top:10px;">
		<div style="padding-left:10px; color:#6E6E6E">Β© 2013 Corning incorporated. All rights reserved</div>
		<div style="padding-right:10px; color:#009ED3">
			<span id="AboutUs_btn" onclick="gorilla.openExternalPage(this)">About Corning</span> 
			<span style="color:#858585;">|</span> 
			<span id="ContactUs_btn" onclick="gorilla.openExternalPage(this)">Contact Us</span>
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx','_blank')">Terms of Use</span>  
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com','_blank')">Corning.com</span>
		</div>
	</div>										
</div>		

