<div style="-webkit-box-sizing:border-box; padding-left:30px; padding-right:30px; padding-top:10px">
	
	<div style="font-weight:bold; padding-bottom:10px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.gotToPage(products_page)">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">LENOVO</span>
	</div>
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff));"></div>	
	<div style="padding-top:10px" class="hbox justified_box">
		<div style=" width:270px; padding-Top:90px">
			<img style="height:212px" src="assets/product_images/Lenovo/lenovo_left_logo.jpg"/>
		</div>			
		<div class="flex_child_2">	
			<div>
				<img style="width:255px" src="assets/product_images/Lenovo/lenovo_logo.jpg"/>
			</div>
			<div style="color:#505050; font-size:12px; font-weight:bold; padding-Top:10px">
				Corning® Gorilla® Glass for the Lenovo ThinkPad X1 Laptop
			</div>
			<div style="color:#505050; font-size:12px; padding-top:10px">
				Visually stunning, incredibly tough Corning® Gorilla® Glass enables today's sleekest laptop and tablet designs, 
				while providing exceptional damage resistance to the drops, bumps, and scrapes of everyday use.				
			</div>
			<br/>
			<div style="width:250px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
				<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:120px">FOLLOW LENOVO ON</div>
				<div style="margin-top:5px">
					<img onclick="window.open('http://www.facebook.com/lenovo','_blank')" style="float:left; padding-left:5px" src="assets/shares/facebook.png" width="35" />
					<img onclick="window.open('http://twitter.com/#!/lenovo','_blank')" style="float:left; padding-left:5px" src="assets/shares/twitter.png" width="35" />  
					<img onclick="window.open('http://www.youtube.com/LenovoVision','_blank')" style="float:left; padding-left:5px" src="assets/shares/youtube.png" width="35" /> 
				</div>
				<div style="clear:both"></div>		
			</div>								
		</div>		
	</div>
				
	<div style="color:#505050; font-size:15px; font-weight:bold; padding-bottom:10px; padding-Top:10px">RELATED PRODUCTS</div>
	<div>								
		<div style="margin-right:10px; float:left; width:100px;" onclick="window.open('http://www.lenovo.com/products/us/tablet/thinkpad','_blank')">
			<img style="width:100px" src="assets/product_images/Lenovo/related_products1.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ThinkPad Tablet</div>
		</div>		
		<div style="margin-right:10px; float:left; width:100px;" onclick="window.open('http://www.lenovo.com/products/us/laptop/thinkpad/x-series/x1','_blank')">
			<img style="width:100px" src="assets/product_images/Lenovo/related_products2.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ThinkPad X1</div>
		</div>				
		<div style="margin-right:10px; float:left; width:100px;" onclick="window.open('http://www.lenovo.com/products/us/laptop/thinkpad/xtablet-series/x220-tablet','_blank')">
			<img style="width:100px" src="assets/product_images/Lenovo/related_products3.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ThinkPad X220t (Outdoor panel configuration)</div>
		</div>										
		<div style="clear:both"></div>		
	</div>			
				
	<div style="color:#505050; font-size:15px; font-weight:bold; padding-Top:30px">RELATED NEWS</div>	
	<div style="width:100%; float:left;">			
		<div style="color:#000; font-size:14px">May 17, 2011</div>
		<div onclick="window.open('http://news.lenovo.com/article_display.cfm?article_id=1438designs/','_blank')" style="color:#009ED3; font-size:14px;">The Crossover PC: New Lenovo ThinkPad X1 Laptop Blends Business & Entertainment Technologies</div>
	</div>		
	<div style="clear:both"></div>
	<div style="color:#A5A5A5; font-size:12px; padding-Top:10px">Lenovo, the Lenovo logo, and ThinkPad are trademarks of Lenovo in the United States, other countries, or both.</div>
</div>

<!-- FOOTER -->
<div id="lenovo_footer" class="ext_page_footer">
	<div id="ext_footer1" class="hbox justified_box ext_page_footer_child" style="width:100%; border-bottom:1px solid gray -webkit-box-pack:end; -webkit-box-align:end">
		<div style="width:30%"></div>
		<div style="width:40%" class="hbox justified_box">
			<div></div>							
			<div style="margin-left:auto; margin-right:auto; width:274px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
				<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:105px">SHARE THIS PAGE</div>
				<div style="margin-top:5px; float:left; padding-left:5px">
					<img id="lenovo_fb" data-analytics="lenovo_fb" onclick="gorilla.socialSharing(this)" src="assets/shares/facebook.png" width="35" /> 
					<img id="lenovo_tw" data-analytics="lenovo_tw" onclick="gorilla.socialSharing(this)" src="assets/shares/twitter.png" width="35" /> 
					<img id="lenovo_sms" data-analytics="lenovo_sms" onclick="gorilla.socialSharing(this)" src="assets/shares/sms.png" width="35" /> 
					<img id="lenovo_email" data-analytics="lenovo_email" onclick="gorilla.socialSharing(this)" src="assets/shares/email.png" width="35" /> 
				</div>
				<div style="clear:both"></div>
			</div>								
			<div></div>
		</div>
		<div style="width:30%">
			<div style="height:100%; margin-right:5px; background:url('assets/ToughFooter_products.png') no-repeat;-webkit-background-size:70% auto; background-position:100% 100%"></div>
		</div>
	</div>										
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff)); margin-top:10px"></div>	
	<div id="ext_footer2" class="hbox justified_box" style="font-size:11px; width:100%; height:20px; margin-top:10px;">
		<div style="padding-left:10px; color:#6E6E6E">© 2013 Corning incorporated. All rights reserved</div>
		<div style="padding-right:10px; color:#009ED3">
			<span id="AboutUs_btn" onclick="gorilla.openExternalPage(this)">About Corning</span> 
			<span style="color:#858585;">|</span> 
			<span id="ContactUs_btn" onclick="gorilla.openExternalPage(this)">Contact Us</span>
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx','_blank')">Terms of Use</span>  
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com','_blank')">Corning.com</span>
		</div>
	</div>										
</div>		

