<div style="-webkit-box-sizing:border-box; padding-top:10px">
	
	<div style="font-weight:bold; padding-bottom:10px; padding-left:30px; padding-right:15px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.gotToPage(products_page)">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">LG</span>
	</div>	
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff)); padding-left:30px; padding-right:15px; "></div>	
	<div style="padding-top:10px; padding-left:30px; padding-right:15px" class="hbox justified_box">
		<div style="width:230px; padding-Top:75px">
			<img style="width:212px" src="assets/product_images/LG/lg_left_logo.png"/>
		</div>			
		<div class="flex_child_2">	
			<div>
				<img style="width:170px" src="assets/product_images/LG/lg_logo.jpg"/>
			</div>
			<div style="color:#505050; font-size:12px; padding-top:10px">
				Visually stunning, incredibly tough Corning® Gorilla® Glass enables today's sleekest smartphone, tablet, and PC designs, while providing exceptional 
				damage resistance to the drops, bumps and scrapes of everyday use. Gorilla Glass is sensitive enough for today's most sophisticated touch applications, 
				and is available with an easy-to-clean coating.
			</div>			
			<br/>			
			<div style="color:#505050; font-size:15px; font-weight:bold">FEATURED</div>
			<br/>				
			<div>								
				<div style="margin-right:10px; float:left; width:72px" onclick="window.open('http://www.lg.com/global/products/mobile-phones/index.jsp','_blank')">
					<div style="height:70px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E7ECEF)); -webkit-border-radius:0px; border:1px solid #ddd;">
						<img style="height:80px" src="assets/product_images/LG/featured_item1.png"/>
					</div>
					<div align="center" style="color:#505050; font-size:10px; margin-top:5px">LG OPTIMUS 3D</div>
				</div>				
				<div style="clear:both"></div>		
			</div>				
		</div>		
	</div>	
	<div style="color:#505050; font-size:15px; font-weight:bold; padding-Top:10px; padding-left:30px; padding-right:15px">RELATED PRODUCTS</div>		
	<div class="hbox" style="height:150px; width:100%; background:-webkit-gradient(linear, left top, left bottom, color-stop(38%,#fcfcfc), color-stop(40%,#d7d7d7), color-stop(58%,#e7e7e7), color-stop(80%,#f8f8f8), color-stop(100%,#ffffff));">
		<div id="nokia_left_arrow" ontouchend="gorilla.currentScroller.scrollTo(-140, 0, 10,true);" style="-webkit-box-sizing:border-box; width:50px; height:55px; margin-Top:45px; padding-left:30px">
			<img style="width:20px" src="assets/page_arrow_l.png"/>
		</div>	
		
		<div id="lg_wrapper" class="wrapper">
			<div id="scroller">
				<ul id="thelist">				
					<li>
						<div style="text-align:center" onclick="window.open('http://www.lg.com/global/products/mobile-phones/index.jsp','_blank')">						
							<img src="assets/product_images/LG/related_products_1.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">LG Optimus 2X</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.lg.com/global/products/mobile-phones/index.jsp','_blank')">						
							<img src="assets/product_images/LG/related_products_2.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">LG Optimus Black</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.lg.com/us/cell-phones/lg-P925-thrill','_blank')">						
							<img src="assets/product_images/LG/related_products_3.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Thrill™ 4G (Only available in the USA)</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.lg.com/us/cell-phones/lg-P999-g2x','_blank')">						
							<img src="assets/product_images/LG/related_products_4.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">T-Mobile® G2x™ with Google (Only available in the USA)</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.lg.com/us/cell-phones/lg-LS855-marquee','_blank')">						
							<img src="assets/product_images/LG/related_products_5.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">LG Marquee™ (Only available in the USA)</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.lg.com/us/cell-phones/lg-P930-nitro','_blank')">						
							<img src="assets/product_images/LG/related_products_6.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">LG Nitro™ HD</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.lg.com/us/cell-phones/lg-VS920-spectrum','_blank')">						
							<img src="assets/product_images/LG/related_products_7.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Spectrum by LG</div>
						</div>										
					</li>
														
				</ul>
			</div>
		</div>
			
		<div id="nokia_right_arrow" ontouchend="gorilla.currentScroller.scrollTo(140, 0, 10,true);" style="width:50px; height:55px; margin-Top:45px">
			<img style="width:20px" src="assets/page_arrow_r.png"/>
		</div>
		
		<div style="clear:both"></div>	
	</div>		
</div>

<!-- FOOTER -->
<div id="lg_footer" class="ext_page_footer">
	<div id="ext_footer1" class="hbox justified_box ext_page_footer_child" style="width:100%; border-bottom:1px solid gray -webkit-box-pack:end; -webkit-box-align:end;">
		<div style="width:30%"></div>
		<div style="width:40%" class="hbox justified_box">
			<div></div>							
			<div style="margin-left:auto; margin-right:auto; width:274px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
				<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:105px">SHARE THIS PAGE</div>
				<div style="margin-top:5px; float:left; padding-left:5px">
					<img id="lg_fb" data-analytics="lg_fb" onclick="gorilla.socialSharing(this)" src="assets/shares/facebook.png" width="35" /> 
					<img id="lg_tw" data-analytics="lg_tw" onclick="gorilla.socialSharing(this)" src="assets/shares/twitter.png" width="35" /> 
					<img id="lg_sms" data-analytics="lg_sms" onclick="gorilla.socialSharing(this)" src="assets/shares/sms.png" width="35" /> 
					<img id="lg_email" data-analytics="lg_email" onclick="gorilla.socialSharing(this)" src="assets/shares/email.png" width="35" /> 
				</div>
				<div style="clear:both"></div>
			</div>								
			<div></div>
		</div>
		<div style="width:30%">
			<div style="height:100%; margin-right:5px; background:url('assets/ToughFooter_products.png') no-repeat;-webkit-background-size:70% auto; background-position:100% 100%"></div>
		</div>
	</div>										
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff)); margin-top:10px"></div>	
	<div id="ext_footer2" class="hbox justified_box" style="font-size:11px; width:100%; height:20px; margin-top:10px;">
		<div style="padding-left:10px; color:#6E6E6E">© 2013 Corning incorporated. All rights reserved</div>
		<div style="padding-right:10px; color:#009ED3">
			<span id="AboutUs_btn" onclick="gorilla.openExternalPage(this)">About Corning</span> 
			<span style="color:#858585;">|</span> 
			<span id="ContactUs_btn" onclick="gorilla.openExternalPage(this)">Contact Us</span>
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx','_blank')">Terms of Use</span>  
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com','_blank')">Corning.com</span>
		</div>
	</div>										
</div>		

<script>
	gorilla.addScroll('lg_wrapper');
</script>



