<div style="-webkit-box-sizing:border-box; padding-top:10px">
	<div style="padding-left:30px; padding-right:15px; ">
		<div style="font-weight:bold; padding-bottom:10px">
			<span style="color:#009ED3; font-size:14px" onclick="gorilla.gotToPage(products_page)">PRODUCTS WITH GORILLA</span>
			<span style="color:#505050; font-size:18px">»</span>
			<span style="color:#505050; font-size:14px">MOTOROLA</span>
		</div>
		<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff));"></div>	
		<div style="padding-top:10px" class="hbox justified_box">
			<div style=" width:240px; padding-Top:68px">
				<img style="width:181px" src="assets/product_images/Motorola/Motorola_left_logo.png"/>
			</div>			
			<div class="flex_child_2">	
				<div>
					<img style="width:320px" src="assets/product_images/Motorola/motorola_logo.jpg"/>
				</div>
				<div style="color:#505050; font-size:12px; padding-top:10px">
					Visually stunning, incredibly tough Corning® Gorilla® Glass enables today’s sleekest smartphone and tablet designs, while providing exceptional damage resistance 
					to the bumps and scrapes of everyday use.
				</div>
				<br/>
				<div style="width:265px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
					<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:135px">FOLLOW MOTOROLA ON</div>
					<div style="margin-top:5px">
						<img onclick="window.open('http://www.facebook.com/motorola','_blank')" style="float:left; padding-left:5px" src="assets/shares/facebook.png" width="35" />
						<img onclick="window.open('http://twitter.com/#!/Motorola','_blank')" style="float:left; padding-left:5px" src="assets/shares/twitter.png" width="35" /> 
						<img onclick="window.open('http://www.youtube.com/user/ShareMoto','_blank')" style="float:left; padding-left:5px" src="assets/shares/youtube.png" width="35" /> 
					</div>
					<div style="clear:both"></div>		
				</div>	
				<br/>			
				<div style="color:#505050; font-size:15px; font-weight:bold">FEATURED</div>
				<br/>				
				<div>								
					<div style="margin-right:10px; float:left; width:110px" onclick="window.open('http://shop.verizonwireless.com/?id=droid%20razr%20m&cmp=Motorola_Razr_Microsite','_blank')">
						<div style="height:100px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E7ECEF)); -webkit-border-radius:0px; border:1px solid #ddd;">
							<center><img style="width:110px" src="assets/product_images/Motorola/featured_item1.png"/></center>
						</div>
						<div align="center" style="color:#505050; font-size:10px; margin-top:5px">DROID RAZR M BY MOTOROLA</div>
					</div>				
					<div style="clear:both"></div>		
				</div>				
			</div>		
		</div>
	</div>
		
	<div style="color:#505050; font-size:15px; font-weight:bold; padding-Top:20px; padding-left:30px; padding-right:15px">RELATED PRODUCTS</div>		
	<div class="hbox" style="height:150px; width:100%; background:-webkit-gradient(linear, left top, left bottom, color-stop(38%,#fcfcfc), color-stop(40%,#d7d7d7), color-stop(58%,#e7e7e7), color-stop(80%,#f8f8f8), color-stop(100%,#ffffff));">
		<div id="motorola_left_arrow" ontouchend="gorilla.currentScroller.scrollTo(-140, 0, 10,true);" style="-webkit-box-sizing:border-box; width:50px; height:55px; margin-Top:45px; padding-left:30px">
			<img style="width:20px" src="assets/page_arrow_l.png"/>
		</div>				
		<div id="moto_wrapper" class="wrapper">
			<div id="scroller">
				<ul id="thelist">				
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/MOTOROLA-ADMIRAL-US-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_1.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ADMIRAL</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/MOTOROLA-ATRIX-2-US-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_2.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ATRIX 2</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/ci.Motorola-ATRIX-US-EN.overview','_blank')">						
							<img src="assets/product_images/Motorola/related_products_3.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ATRIX 4G</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/MOTOROLA+BACKFLIP_MOTOBLUR_Default_US','_blank')">						
							<img src="assets/product_images/Motorola/related_products_4.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">BACKFLIP</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/BRAVO','_blank')">						
							<img src="assets/product_images/Motorola/related_products_5.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">BRAVO</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/MOTOROLA_CHARM','_blank')">						
							<img src="assets/product_images/Motorola/related_products_6.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">CHARM</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/MOTOROLA+CLIQ_Loc%25253AUS-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_7.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">CLIQ</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/CLIQ_2','_blank')">						
							<img src="assets/product_images/Motorola/related_products_8.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">CLIQ 2</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/CLIQ-XT_Default_Support_Loc%25253AUS-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_9.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">CLIQ XT</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('https://motorola-global-portal.custhelp.com/app/product_page/faqs/p/30,6720,7695','_blank')">						
							<img src="assets/product_images/Motorola/related_products_10.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DEFY</div>
						</div>										
					</li>
									
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/XW-EN/Consumer-Products-and-Services/Mobile-Phones/MOTOROLA-DEFY-PLUS-XW-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_11.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DEFY+</div>
						</div>										
					</li>				
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/DEVOUR_Default_US','_blank')">						
							<img src="assets/product_images/Motorola/related_products_12.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DEVOUR</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/GB-EN/Consumer-Support/Mobile-Phones','_blank')">						
							<img src="assets/product_images/Motorola/related_products_13.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DEXT</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/Droid+-+USA_Default+US_Loc%25253AUS-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_14.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID</div>
						</div>										
					</li>	
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/Motorola+DROID+2','_blank')">						
							<img src="assets/product_images/Motorola/related_products_15.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID 2</div>
						</div>										
					</li>			
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/ci.DROID2-Global-US-EN.overview','_blank')">						
							<img src="assets/product_images/Motorola/related_products_16.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID 2 GLOBAL</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/DROID-3-by-MOTOROLA-US-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_17.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID 3</div>
						</div>										
					</li>					
	
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/DROID-BIONIC-US-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_18.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID BIONIC by Motorola</div>
						</div>										
					</li>	
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/ci.Motorola-DROID-PRO-US-EN.overview','_blank')">						
							<img src="assets/product_images/Motorola/related_products_19.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID PRO</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/DROID-RAZR-BY-MOTOROLA-US-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_20.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID RAZR by Motorola</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://shop.verizonwireless.com/?id=droid%20razr%20m&cmp=Motorola_Razr_Microsite','_blank')">						
							<img src="assets/product_images/Motorola/related_products_41.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID RAZR HD</div>
						</div>										
					</li>					
	
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/DROID-RAZR-BY-MOTOROLA-US-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_21.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID RAZR in WHITE</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://shop.verizonwireless.com/?id=droid%20razr%20m&cmp=Motorola_Razr_Microsite','_blank')">						
							<img src="assets/product_images/Motorola/related_products_40.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:2px">DROID RAZR M BY MOTOROLA</div>
						</div>										
					</li>					
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/us/consumers/DROID-MAXX/better-battery/96406,en_US,pd.html','_blank')">						
							<img src="assets/product_images/Motorola/related_products_38.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID RAZR MAXX by Motorola</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://shop.verizonwireless.com/?id=droid%20razr%20m&cmp=Motorola_Razr_Microsite','_blank')">						
							<img src="assets/product_images/Motorola/related_products_42.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID RAZR MAXX HD</div>
						</div>										
					</li>
															
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/Motorola+DROID+X','_blank')">						
							<img src="assets/product_images/Motorola/related_products_22.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID X</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/DROID-X2-by-MOTOROLA-US-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_23.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">DROID X2</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/MOTOROLA_FLIPOUT_with_MOTOBLUR','_blank')">						
							<img src="assets/product_images/Motorola/related_products_24.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">FLIPOUT</div>
						</div>										
					</li>
													
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Support/US-EN/Consumer-Support/Mobile-Phones/i1_Default_US','_blank')">						
							<img src="assets/product_images/Motorola/related_products_25.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">MOTOROLA i1</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/XW-EN/Consumer-Products-and-Services/Mobile-Phones/Motorola-MILESTONE-XW-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_26.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">MOTOROLA MILESTONE</div>
						</div>										
					</li>
										
					<li>
						<div style="text-align:center" onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Motorola-Mobility-Unveils-the-New-Motorola-RAZR-Impossibly-Thin-Meets-Head-turning-Innovation-3867.aspx','_blank')">						
							<img src="assets/product_images/Motorola/related_products_27.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">MOTOROLA RAZR</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Introducing-the-Powerful-Motorola-RAZR-i-with-Intel-Inside-and-an-Edge-to-Edge-Display-3bb4.aspx','_blank')">						
							<img src="assets/product_images/Motorola/related_products_43.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Motorola RAZR i</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/XW-EN/Consumer-Products-and-Services/Mobile-Phones/MOTOROLA-RAZR-MAXX-XW-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_39.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">MOTOROLA RAZR MAXX</div>
						</div>										
					</li>	
	
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/MOTOROLA-PHOTON-4G-US-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_28.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">PHOTON 4G</div>
						</div>										
					</li>	
					
					<li>
						<div style="text-align:center" onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Motorola-Mobility-Delivers-the-Smartphone-that-Works-and-Plays-as-Hard-as-You-Do-Motorola-PRO-37c3.aspx','_blank')">						
							<img src="assets/product_images/Motorola/related_products_29.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">PRO+</div>
						</div>										
					</li>	
	
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/MOTOROLA-TITANIUM-US-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_30.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">TITANIUM</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/MOTOROLA-TRIUMPH-US-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_31.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">TRIUMPH</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Tablets/MOTOROLA-XOOM-with-WiFi-US-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_32.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">XOOM</div>
						</div>										
					</li>	
					
					<li>
						<div style="text-align:center" onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Motorola-Mobility-Launches-Two-New-Tablets-in-the-UK-and-Ireland-38b5.aspx','_blank')">						
							<img src="assets/product_images/Motorola/related_products_33.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">XOOM 2</div>
						</div>										
					</li>	
					
					<li>
						<div style="text-align:center" onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Motorola-Mobility-Launches-Two-New-Tablets-in-the-UK-and-Ireland-38b5.aspx','_blank')">						
							<img src="assets/product_images/Motorola/related_products_34.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">XOOM 2 Media Edition</div>
						</div>										
					</li>	
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Mobile-Phones/MOTOROLA-XPRT-US-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_35.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">XPRT</div>
						</div>										
					</li>	
									
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Tablets/DROID-XYBOARD-by-10-1-MOTOROLA-US-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_36.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">XYBOARD 10.1</div>
						</div>										
					</li>				
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.motorola.com/Consumers/US-EN/Consumer-Product-and-Services/Tablets/DROID-XYBOARD-by-MOTOROLA-US-EN','_blank')">						
							<img src="assets/product_images/Motorola/related_products_37.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">XYBOARD 8.2</div>
						</div>										
					</li>																								
				</ul>
			</div>
		</div>
			
		<div id="motorola_right_arrow" ontouchend="gorilla.currentScroller.scrollTo(140, 0, 10,true);" style="width:50px; height:55px; margin-Top:45px">
			<img style="width:20px" src="assets/page_arrow_r.png"/>
		</div>		
		<div style="clear:both"></div>	
	</div>
	<br/>
	<div style="padding-left:30px; padding-right:15px">	
		<div style="color:#505050; font-size:15px; font-weight:bold">RELATED NEWS</div>	
		<div style="width:33%; float:left">
			<div style="color:#000; font-size:14px">September 18, 2012</div>
			<div onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Introducing-the-Powerful-Motorola-RAZR-i-with-Intel-Inside-and-an-Edge-to-Edge-Display-3bb4.aspx','_blank')" style="color:#009ED3; font-size:14px; width:auto">Introducing the Powerful Motorola RAZR&trade; i with Intel Inside&reg; and an Edge-to-Edge Display</div>
		</div>		
		<div style="width:33%; float:left">
			<div style="color:#000; font-size:14px">September 5, 2012</div>
			<div onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Verizon-Wireless-and-Motorola-Add-Three-New-and-Exclusive-4G-LTE-DROID-RAZR-Smartphones-3b9a.aspx','_blank')" style="color:#009ED3; font-size:14px; width:auto">Verizon Wireless and Motorola Add Three New and Exclusive 4G LTE DROID RAZR&trade; Smartphones</div>
		</div>		
		<div style="width:33%; float:left">
			<div style="color:#000; font-size:14px">October 20, 2011</div>
			<div onclick="window.open('http://mediacenter.motorola.com/Press-Releases/First-Android-Powered-Smartphone-with-Sprint-Direct-Connect-Motorola-ADMIRAL-Available-Oct-23-for-Under-100-3888.aspx','_blank')" style="color:#009ED3; font-size:14px; width:auto">First Android-Powered Smartphone with Sprint Direct Connect, Motorola ADMIRAL, Available Oct. 23 for Under $100</div>
		</div>			
		<div style="clear:both"></div>									
		<div style="padding-Top:15px">
			<div style="width:33%; float:left">
				<div style="color:#000; font-size:14px">October 18, 2011</div>
				<div onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Verizon-Wireless-and-Motorola-Announce-DROID-RAZR-by-Motorola-DROID-Strong-RAZR-Sharp-386d.aspx','_blank')" style="color:#009ED3; font-size:14px; width:auto">Verizon Wireless and Motorola Announce DROID RAZR&trade; by Motorola: DROID Strong. RAZR Sharp.</div>
			</div>	
			<div style="width:33%; float:left">
				<div style="color:#000; font-size:14px">October 18, 2011</div>
				<div onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Motorola-Mobility-Unveils-the-New-Motorola-RAZR-Impossibly-Thin-Meets-Head-turning-Innovation-3867.aspx','_blank')" style="color:#009ED3; font-size:14px; width:auto; -webkit-box-sizing:border-box; padding-right:5px">Motorola Mobility Unveils the New Motorola RAZR&trade;: Impossibly Thin Meets Head-turning Innovation</div>
			</div>				
			<div style="width:33%; float:left">
				<div style="color:#000; font-size:14px;">August 30, 2011</div>
				<div onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Motorola-Mobility-Delivers-the-Smartphone-that-Works-and-Plays-as-Hard-as-You-Do-Motorola-PRO-37c3.aspx','_blank')" style="color:#009ED3; font-size:14px; width:auto">Motorola Mobility Delivers the Smartphone that Works and Plays as Hard as You Do: Motorola PRO+</div>
			</div>	
			<div style="clear:both"></div>
		</div>			
		<div style="padding-Top:15px">
			<div style="width:33%; float:left">
				<div style="color:#000; font-size:14px">August 15, 2011</div>
				<div onclick="window.open('http://mediacenter.motorola.com/Press-Releases/Motorola-Mobility-Reveals-Motorola-DEFY-378f.aspx','_blank')" style="color:#009ED3; font-size:14px; width:auto">Motorola Mobility Reveals Motorola DEFY&trade;+</div>
			</div>	
			<div style="clear:both"></div>
		</div>					
		<div style="color:#A5A5A5; font-size:12px; padding-Top:10px">DROID is a trademark of Lucasfilm Ltd. and its related companies. Used under license. Motorola Mobility Reveals Motorola DefyDROID is a trademark of Lucasfilm Ltd. and its related companies. Used under license.</div>		
	</div>
</div>

<!-- FOOTER -->
<div id="motorola_footer" class="ext_page_footer">
	<div id="ext_footer1" class="hbox justified_box ext_page_footer_child" style="width:100%; border-bottom:1px solid gray -webkit-box-pack:end; -webkit-box-align:end">
		<div style="width:30%"></div>
		<div style="width:40%" class="hbox justified_box">
			<div></div>							
			<div style="margin-left:auto; margin-right:auto; width:274px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
				<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:105px">SHARE THIS PAGE</div>
				<div style="margin-top:5px; float:left; padding-left:5px">
					<img id="moto_fb" data-analytics="moto_fb" onclick="gorilla.socialSharing(this)" src="assets/shares/facebook.png" width="35" /> 
					<img id="moto_tw" data-analytics="moto_tw" onclick="gorilla.socialSharing(this)" src="assets/shares/twitter.png" width="35" /> 
					<img id="moto_sms" data-analytics="moto_sms" onclick="gorilla.socialSharing(this)" src="assets/shares/sms.png" width="35" /> 
					<img id="moto_email" data-analytics="moto_email" onclick="gorilla.socialSharing(this)" src="assets/shares/email.png" width="35" /> 
				</div>
				<div style="clear:both"></div>
			</div>								
			<div></div>
		</div>
		<div style="width:30%">
			<div style="height:100%; margin-right:5px; background:url('assets/ToughFooter_products.png') no-repeat;-webkit-background-size:70% auto; background-position:100% 100%"></div>
		</div>
	</div>										
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff)); margin-top:10px"></div>	
	<div id="ext_footer2" class="hbox justified_box" style="font-size:11px; width:100%; height:20px; margin-top:10px;">
		<div style="padding-left:10px; color:#6E6E6E">© 2013 Corning incorporated. All rights reserved</div>
		<div style="padding-right:10px; color:#009ED3">
			<span id="AboutUs_btn" onclick="gorilla.openExternalPage(this)">About Corning</span> 
			<span style="color:#858585;">|</span> 
			<span id="ContactUs_btn" onclick="gorilla.openExternalPage(this)">Contact Us</span>
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx','_blank')">Terms of Use</span>  
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com','_blank')">Corning.com</span>
		</div>
	</div>										
</div>		

<script>
	gorilla.addScroll('moto_wrapper');
</script>



