<div style="-webkit-box-sizing:border-box; padding-top:10px">
	
	<div style="font-weight:bold; padding-bottom:10px; padding-left:30px; padding-right:15px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.gotToPage(products_page)">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">NOKIA</span>
	</div>	
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff)); padding-left:30px; padding-right:15px; "></div>	
	<div style="padding-top:10px; padding-left:30px; padding-right:15px" class="hbox justified_box">
		<div style=" width:230px; padding-Top:30px">
			<img style="width:190px" src="assets/product_images/Nokia/Nokia_left_logo.png"/>
		</div>			
		<div class="flex_child_2">	
			<div>
				<img style="width:183px" src="assets/product_images/Nokia/nokia_logo.jpg"/>
			</div>
			<div style="color:#505050; font-size:12px; padding-top:10px">
				Visually stunning, incredibly tough Corning® Gorilla® Glass enables today’s sleekest smartphone and tablet designs, 
				while providing exceptional damage resistance to the drops, bumps, and scrapes of everyday use.
			</div>
			<br/>
			<div style="width:240px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
				<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:110px">FOLLOW NOKIA ON</div>
				<div style="margin-top:5px">
					<img onclick="window.open('http://www.facebook.com/nokia','_blank')" style="float:left; padding-left:5px" src="assets/shares/facebook.png" width="35" />
					<img onclick="window.open('http://twitter.com/#!/nokia','_blank')" style="float:left; padding-left:5px" src="assets/shares/twitter.png" width="35" /> 
					<img onclick="window.open('http://www.youtube.com/nokia','_blank')" style="float:left; padding-left:5px" src="assets/shares/youtube.png" width="35" /> 
				</div>
				<div style="clear:both"></div>		
			</div>	
			<br/>			
			<div style="color:#505050; font-size:15px; font-weight:bold">FEATURED</div>
			<br/>				
			<div>								
				<div style="margin-right:10px; float:left; width:110px" onclick="window.open('http://www.nokia.com/global/products/phone/lumia920/','_blank')">
					<div style="height:110px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E7ECEF)); -webkit-border-radius:0px; border:1px solid #ddd;">
						<img style="height:102px; padding-top:5px" src="assets/product_images/Nokia/featured_item1.png"/>
					</div>
					<div align="center" style="color:#505050; font-size:10px; margin-top:5px">NOKIA LUMIA 920</div>
				</div>				
				<div style="clear:both"></div>		
			</div>				
		</div>		
	</div>	
	<div style="color:#505050; font-size:15px; font-weight:bold; padding-Top:10px; padding-left:30px; padding-right:15px">RELATED PRODUCTS</div>		
	<div class="hbox" style="height:150px; width:100%; background:-webkit-gradient(linear, left top, left bottom, color-stop(38%,#fcfcfc), color-stop(40%,#d7d7d7), color-stop(58%,#e7e7e7), color-stop(80%,#f8f8f8), color-stop(100%,#ffffff));">
		<div id="nokia_left_arrow" ontouchend="gorilla.currentScroller.scrollTo(-140, 0, 10,true);" style="-webkit-box-sizing:border-box; width:50px; height:55px; margin-Top:45px; padding-left:30px">
			<img style="width:20px" src="assets/page_arrow_l.png"/>
		</div>	
		
		<div id="nokia_wrapper" class="wrapper">
			<div id="scroller">
				<ul id="thelist">				
					<li>
						<div style="text-align:center" onclick="window.open('http://www.developer.nokia.com/Devices/Device_specifications/700/','_blank')">						
							<img src="assets/product_images/Nokia/related_products_1.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia 700</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.developer.nokia.com/Devices/Device_specifications/701/','_blank')">						
							<img src="assets/product_images/Nokia/related_products_2.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia 701</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.developer.nokia.com/Devices/Device_specifications/702T/','_blank')">						
							<img src="assets/product_images/Nokia/related_products_3.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia 702T</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.developer.nokia.com/Devices/Device_specifications/801T/','_blank')">						
							<img src="assets/product_images/Nokia/related_products_4.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia 801T</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.developer.nokia.com/Devices/Device_specifications/808_PureView/','_blank')">						
							<img src="assets/product_images/Nokia/related_products_5.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia 808</div>
						</div>										
					</li>
				
					<li>
						<div style="text-align:center" onclick="window.open('http://www.t-mobile.com/shop/phones/Default.aspx','_blank')">						
							<img src="assets/product_images/Nokia/related_products_6.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia Astound</div>
						</div>										
					</li>	
					
					<li>
						<div style="text-align:center" onclick="window.open('http://europe.nokia.com/find-products/devices/nokia-c6-01','_blank')">						
							<img src="assets/product_images/Nokia/related_products_7.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia C6</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://europe.nokia.com/find-products/devices/nokia-c7-00?intc=ncomprod-fw-ilc-bdy-eng-na-nokiacomeu-g0-9-nokiaworldc7_228x96','_blank')">						
							<img src="assets/product_images/Nokia/related_products_8.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia C7</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://europe.nokia.com/find-products/devices/nokia-e6-00','_blank')">						
							<img src="assets/product_images/Nokia/related_products_9.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia E6</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://europe.nokia.com/find-products/devices/nokia-e7','_blank')">						
							<img src="assets/product_images/Nokia/related_products_10.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia E7</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.nokia.com/us-en/products/phone/lumia710/','_blank')">						
							<img src="assets/product_images/Nokia/related_products_11.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia Lumia 710</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.nokia.com/gb-en/products/phone/lumia800','_blank')">						
							<img src="assets/product_images/Nokia/related_products_12.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia Lumia 800</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.nokia.com/us-en/products/phone/lumia822/','_blank')">						
							<img src="assets/product_images/Nokia/related_products_Lumia822.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia Lumia 822</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.nokia.com/us-en/products/phone/lumia900/','_blank')">						
							<img src="assets/product_images/Nokia/related_products_13.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia Lumia 900</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.nokia.com/global/products/phone/lumia920/','_blank')">						
							<img src="assets/product_images/Nokia/related_products_19.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia Lumia 920</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://europe.nokia.com/find-products/devices/nokia-n8?intc=ncomprod-fw-ilc-bdy-e6ppton8pp_0x0-na-ncomprod-eu-en-na','_blank')">						
							<img src="assets/product_images/Nokia/related_products_14.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia N8</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://swipe.nokia.com/','_blank')">						
							<img src="assets/product_images/Nokia/related_products_15.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia N9</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://europe.nokia.com/find-products/devices/nokia-oro','_blank')">						
							<img src="assets/product_images/Nokia/related_products_16.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia Oro</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.developer.nokia.com/Devices/Device_specifications/T7-00/','_blank')">						
							<img src="assets/product_images/Nokia/related_products_17.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia T7-00</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://europe.nokia.com/find-products/devices/nokia-x7-00','_blank')">						
							<img src="assets/product_images/Nokia/related_products_18.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia X7</div>
						</div>										
					</li>
																							
				</ul>
			</div>
		</div>
			
		<div id="nokia_right_arrow" ontouchend="gorilla.currentScroller.scrollTo(140, 0, 10,true);" style="width:50px; height:55px; margin-Top:45px">
			<img style="width:20px" src="assets/page_arrow_r.png"/>
		</div>
		
		<div style="clear:both"></div>	
	</div>		
	<br/>	
	<div style="padding-left:30px; padding-right:15px">	
		<div style="color:#505050; font-size:15px; font-weight:bold">CUSTOMER SERVICE INFO</div>
		<div style="color:#505050; font-size:12px">Nokia experts can help you with questions related to your Nokia phone and services.</div>
		<div onclick="window.open('http://twitter.com/#!/NokiaHelps','_blank')" style="color:#009ED3; font-size:12px; width:200px"><u>http://twitter.com/#!/NokiaHelps</u></div>
	</div>	
</div>

<!-- FOOTER -->
<div id="nokia_footer" class="ext_page_footer">
	<div id="ext_footer1" class="hbox justified_box ext_page_footer_child" style="width:100%; border-bottom:1px solid gray -webkit-box-pack:end; -webkit-box-align:end">
		<div style="width:30%"></div>
		<div style="width:40%" class="hbox justified_box">
			<div></div>							
			<div style="margin-left:auto; margin-right:auto; width:274px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
				<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:105px">SHARE THIS PAGE</div>
				<div style="margin-top:5px; float:left; padding-left:5px">
					<img id="nokia_fb" data-analytics="nokia_fb" onclick="gorilla.socialSharing(this)" src="assets/shares/facebook.png" width="35" /> 
					<img id="nokia_tw" data-analytics="nokia_tw" onclick="gorilla.socialSharing(this)" src="assets/shares/twitter.png" width="35" /> 
					<img id="nokia_sms" data-analytics="nokia_sms" onclick="gorilla.socialSharing(this)" src="assets/shares/sms.png" width="35" /> 
					<img id="nokia_email" data-analytics="nokia_email" onclick="gorilla.socialSharing(this)" src="assets/shares/email.png" width="35" /> 
				</div>
				<div style="clear:both"></div>
			</div>								
			<div></div>
		</div>
		<div style="width:30%">
			<div style="height:100%; margin-right:5px; background:url('assets/ToughFooter_products.png') no-repeat;-webkit-background-size:70% auto; background-position:100% 100%"></div>
		</div>
	</div>										
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff)); margin-top:10px"></div>	
	<div id="ext_footer2" class="hbox justified_box" style="font-size:11px; width:100%; height:20px; margin-top:10px;">
		<div style="padding-left:10px; color:#6E6E6E">© 2013 Corning incorporated. All rights reserved</div>
		<div style="padding-right:10px; color:#009ED3">
			<span id="AboutUs_btn" onclick="gorilla.openExternalPage(this)">About Corning</span> 
			<span style="color:#858585;">|</span> 
			<span id="ContactUs_btn" onclick="gorilla.openExternalPage(this)">Contact Us</span>
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx','_blank')">Terms of Use</span>  
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com','_blank')">Corning.com</span>
		</div>
	</div>										
</div>		

<script>
	gorilla.addScroll('nokia_wrapper');
</script>



