<div style="-webkit-box-sizing:border-box; padding-top:10px">
	
	<div style="padding-left:30px; padding-right:15px">
		<div style="font-weight:bold; padding-bottom:10px">
			<span style="color:#009ED3; font-size:14px" onclick="gorilla.gotToPage(products_page)">PRODUCTS WITH GORILLA</span>
			<span style="color:#505050; font-size:18px">»</span>
			<span style="color:#505050; font-size:14px">SAMSUNG</span>
		</div>
		<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff));"></div>	
		<div style="padding-top:10px" class="hbox justified_box">
			<div style=" width:240px; padding-Top:30px">
				<img style="width:200px" src="assets/product_images/Samsung/samsung_left_logo.png"/>
			</div>			
			<div class="flex_child_2">	
				<div>
					<img style="width:200px" src="assets/product_images/Samsung/samsung_logo.jpg"/>
				</div>
				<div style="color:#505050; font-size:12px; padding-top:10px">
					Visually stunning, incredibly tough Corning® Gorilla® Glass enables today's sleekest smartphone and tablet designs, 
					while providing exceptional damage resistance to the drops, bumps, and scrapes of everyday use. Gorilla Glass is sensitive enough 
					for today's most sophisticated touch applications, and is available with an easy-to-clean coating.
				</div>
				<br/>
				<div style="width:225px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
					<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:130px;">FOLLOW SAMSUNG ON</div>
					<div style="margin-top:5px">
						<img onclick="window.open('http://www.facebook.com/SamsungMobile','_blank')" style="float:left; padding-left:5px" src="assets/shares/facebook.png" width="35" />					 
						<img onclick="window.open('http://www.youtube.com/samsungmobile','_blank')" style="float:left; padding-left:5px" src="assets/shares/youtube.png" width="35" /> 
					</div>
					<div style="clear:both"></div>		
				</div>	
				<br/>			
				<div style="color:#505050; font-size:15px; font-weight:bold">FEATURED</div>
				<br/>				
				<div>								
					<div style="float:left; width:110px" onclick="window.open('http://www.samsung.com/global/galaxys3/','_blank')">
						<div style="height:100px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#E7ECEF)); -webkit-border-radius:0px; border:1px solid #ddd;">
							<center><img style="width:100%; "src="assets/product_images/Samsung/featured_product1.png"/></center>
						</div>
						<div align="center" style="color:#505050; font-size:10px; margin-top:5px">SAMSUNG GALAXY SIII</div>
					</div>				
					<div style="clear:both"></div>		
				</div>				
			</div>		
		</div>
	</div>
	<div style="color:#505050; font-size:15px; font-weight:bold; padding-Top:10px; padding-left:30px; padding-right:15px">RELATED PRODUCTS</div>		
	<div class="hbox" style="height:150px; width:100%; background:-webkit-gradient(linear, left top, left bottom, color-stop(38%,#fcfcfc), color-stop(40%,#d7d7d7), color-stop(58%,#e7e7e7), color-stop(80%,#f8f8f8), color-stop(100%,#ffffff));">
		<div id="samsung_left_arrow" ontouchend="gorilla.currentScroller.scrollTo(-140, 0, 10,true);" style="-webkit-box-sizing:border-box; width:50px; height:55px; margin-Top:45px; padding-left:30px">
			<img style="width:20px" src="assets/page_arrow_l.png"/>
		</div>	
			
		<div id="sam_wrapper" class="wrapper">
			<div id="scroller" >
				<ul id="thelist">				
					<li>
						<div style="text-align:center" onclick="window.open('http://www.samsung.com/uk/consumer/mobile-devices/smartphones/android/GT-I9000HKDXEU','_blank')">						
							<img src="assets/product_images/Samsung/related_products_1.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung GALAXY S</div>
						</div>										
					</li>
										
					<li>
						<div style="text-align:center" onclick="window.open('http://www.samsung.com/global/microsite/galaxytab/10.1/index.html','_blank')">						
							<img src="assets/product_images/Samsung/related_products_2.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung GALAXY Tab</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.samsung.com/global/microsite/galaxytab/10.1/index.html','_blank')">						
							<img src="assets/product_images/Samsung/related_products_3.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung GALAXY Tab 10.1</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.samsung.com/us/mobile/cell-phones/SGH-I677DAAATT','_blank')">						
							<img src="assets/product_images/Samsung/related_products_4.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung Omnia W</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.samsung.com/us/mobile/cell-phones/SGH-I677DAAATT','_blank')">						
							<img src="assets/product_images/Samsung/related_products_5.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung Focus Flash™ (US AT&T)</div>
						</div>										
					</li>
					
					<li>
						<div style="text-align:center" onclick="window.open('http://www.samsung.com/global/microsite/galaxynote/note/index.html?type=find','_blank')">						
							<img src="assets/product_images/Samsung/related_products_6.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung GALAXY Note</div>
						</div>										
					</li>
										
					<li>
						<div style="text-align:center" onclick="window.open('http://www.samsung.com/global/microsite/galaxys2/html/','_blank')">						
							<img src="assets/product_images/Samsung/related_products_8.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung GALAXY SII</div>
						</div>										
					</li>
										
					<li>
						<div style="text-align:center" onclick="window.open('http://www.samsung.com/global/galaxys3/','_blank')">						
							<img src="assets/product_images/Samsung/related_products_9.png"/>						
							<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Samsung GALAXY SIII</div>
						</div>										
					</li>
										
																			
				</ul>
			</div>
		</div>
			
		<div id="samsung_right_arrow" ontouchend="gorilla.currentScroller.scrollTo(140, 0, 10,true);" style="width:50px; height:55px; margin-Top:45px">
			<img style="width:20px" src="assets/page_arrow_r.png"/>
		</div>
		
		<div style="clear:both"></div>	
	</div>
	<br/>
	<div style="padding-left:30px; padding-right:15px">
		<div style="color:#505050; font-size:15px; font-weight:bold">RELATED NEWS</div>	
		<div style="width:50%; float:left">
			<div style="color:#000; font-size:14px">July 20, 2011</div>
			<div onclick="window.open('http://www.corninggorillaglass.com/news/press-releases/samsung%E2%80%99s-new-galaxy-tab-101-features-corning%C2%AE-gorilla%C2%AE-glass?noredirection=true','_blank')" style="color:#009ED3; font-size:14px; width:auto">Samsung’s New Galaxy Tab 10.1 Features Corning® Gorilla® Glass</div>
		</div>	
		<div style="width:50%; float:left">
			<div style="color:#000; font-size:14px">October 4, 2010</div>
			<div onclick="window.open('http://www.corninggorillaglass.com/news/press-releases/corning-supplies-gorilla%C2%AE-glass-samsung%E2%80%99s-new-galaxy-tab-smart-media-device?noredirection=true','_blank')" style="color:#009ED3; font-size:14px; width:auto">Corning Supplies Gorilla® Glass for Samsung’s New Galaxy Tab Smart Media Device</div>
		</div>		
		<div style="clear:both"></div>	
		<div style="padding-Top:15px">
			<div style="width:50%; float:left">
				<div style="color:#000; font-size:14px">May 2, 2011</div>
				<div onclick="window.open('http://www.corninggorillaglass.com/news/press-releases/samsung%E2%80%99s-premium-smartphone-galaxy-s-ii-features-corning%C2%AE-gorilla%C2%AE-glass?noredirection=true','_blank')" style="color:#009ED3; font-size:14px; width:auto">Samsung’s Premiere Smartphone Galaxy Sll  Features Corning® Gorilla® Glass</div>
			</div>	
			<div style="width:50%; float:left">
				<div style="color:#000; font-size:14px">August 23, 2010</div>
				<div onclick="window.open('http://www.corninggorillaglass.com/news/press-releases/corning-supplies-gorilla%C2%AE-glass-samsung-galaxy-s-premium-smartphone?noredirection=true','_blank')" style="color:#009ED3; font-size:14px; width:auto">Corning Supplies Gorilla® Glass for Samsung Galaxy S Premiere Smartphone</div>
			</div>	
			<div style="clear:both"></div>
		</div>	
		<div style="color:#A5A5A5; font-size:12px; padding-Top:20px">©2011 Samsung Telecommunications America, LLC ("Samsung"). Samsung and Galaxy S are registered trademarks of Samsung Electronics America, Inc. and/or its related entities. Other company and product names mentioned herein may be trademarks of their respective owners. Screen images simulated.</div>
	</div>		
</div>

<!-- FOOTER -->
<div id="samsung_footer" class="ext_page_footer">
	<div id="ext_footer1" class="hbox justified_box ext_page_footer_child" style="width:100%; border-bottom:1px solid gray -webkit-box-pack:end; -webkit-box-align:end;">
		<div style="width:30%"></div>
		<div style="width:40%" class="hbox justified_box">
			<div></div>							
			<div style="margin-left:auto; margin-right:auto; width:274px; height:45px; line-height:45px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); -webkit-border-radius:7px; border:1px solid #ddd;">
				<div style="float:left; -webkit-box-sizing:border-box; color:#505050; font-size:10px; padding-left:10px; width:105px">SHARE THIS PAGE</div>
				<div style="margin-top:5px; float:left; padding-left:5px">
					<img id="sam_fb" data-analytics="sam_fb" onclick="gorilla.socialSharing(this)" src="assets/shares/facebook.png" width="35" /> 
					<img id="sam_tw" data-analytics="sam_tw" onclick="gorilla.socialSharing(this)" src="assets/shares/twitter.png" width="35" /> 
					<img id="sam_sms" data-analytics="sam_sms" onclick="gorilla.socialSharing(this)" src="assets/shares/sms.png" width="35" /> 
					<img id="sam_email" data-analytics="sam_email" onclick="gorilla.socialSharing(this)" src="assets/shares/email.png" width="35" /> 
				</div>
				<div style="clear:both"></div>
			</div>								
			<div></div>
		</div>
		<div style="width:30%">
			<div style="height:100%; margin-right:5px; background:url('assets/ToughFooter_products.png') no-repeat;-webkit-background-size:70% auto; background-position:100% 100%"></div>
		</div>
	</div>										
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #ccc), color-stop(1, #fff)); margin-top:10px"></div>	
	<div id="ext_footer2" class="hbox justified_box" style="font-size:11px; width:100%; height:20px; margin-top:10px;">
		<div style="padding-left:10px; color:#6E6E6E">© 2013 Corning incorporated. All rights reserved</div>
		<div style="padding-right:10px; color:#009ED3">
			<span id="AboutUs_btn" onclick="gorilla.openExternalPage(this)">About Corning</span> 
			<span style="color:#858585;">|</span> 
			<span id="ContactUs_btn" onclick="gorilla.openExternalPage(this)">Contact Us</span>
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx','_blank')">Terms of Use</span>  
			<span style="color:#858585;">|</span> 
			<span id="home_fb" onclick="window.open('http://www.corning.com','_blank')">Corning.com</span>
		</div>
	</div>										
</div>		

<script>
	gorilla.addScroll('sam_wrapper');
</script>



